<template>
  <div class="grid">
    <section-content-forecasts />
    <section-content-balance class="balance" />
    <section-content-cases class="cases" />
  </div>
</template>

<script>
import SectionContentForecasts from '~/components/section/content/forecasts'
import SectionContentBalance from '~/components/section/content/balance'
import SectionContentCases from '~/components/section/content/cases'

export default {
  name: 'SectionContent',
  components: {
    SectionContentCases,
    SectionContentBalance,
    SectionContentForecasts
  }
}
</script>

<style lang="less" scoped>
.grid {
  display: grid;
  grid-template-columns: 110em 1fr;
  grid-template-rows: 20em 1fr;
  grid-gap: 4em;
  padding: 0 var(--layout-offset) 4em;
}

@media screen and (max-width: 767px) {
  .grid {
    display: block;
  }
  .balance, .cases {
    display: none !important;
  }
}
</style>
