<template>
  <section class="container">
    <div class="top" id="balance">
      <p class="title">
        <span class="t">Ваш баланс:</span>
      </p>
      <p class="value">
        <span class="t">{{ balance }}</span>
      </p>
    </div>
    <a id="link" target="_blank" href="https://www.pari.ru/sports/esports/" class="btn">
      <svg width="461" height="65" viewBox="0 0 461 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.618965 54.3661L16.3075 6.08533C17.3046 3.01618 20.1556 0.94413 23.3806 0.94413L452.808 0.944092C457.856 0.944092 461.439 5.86719 459.881 10.6657L444.193 58.9464C443.196 62.0155 440.345 64.0876 437.12 64.0876L7.67646 64.0877C2.62871 64.0877 -0.954558 59.1645 0.603388 54.3661H0.618965Z" fill="#B40091"/>
      </svg>
      <span class="t">Сделать ставку</span>
    </a>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SectionContentBalance',
  data() {
    return {
      value: 10000
    }
  },
  computed: {
    ...mapState('app', ['identity']),
    balance() {
      return new Intl.NumberFormat().format(this.identity?.balance || 0)
    }
  }
}
</script>

<style lang="less" scoped>
.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 2.2em 7em 0;
}

.top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1.6em;
}

.title {
  .t {
    font-weight: 700;
    font-size: 2.4em;
    line-height: 1.2;
  }
}


.value {
  .t {
    font-weight: 700;
    font-size: 4.8em;
    line-height: 1.2;
  }
}

.btn {
  width: 100%;
  position: relative;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }

  svg {
    width: 100%;
    filter: drop-shadow(0 5px 13px rgba(180, 0, 145, 0.67));
    height: 6.4em;
  }

  .t {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 2.8em;
    line-height: 1.2;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

</style>
