<template>
  <div class="head">
    <h1 class="title" id="title">
      <span class="t">Коэффициент турнирного дня <span>-</span></span>
      <span class="value" id="koef">x{{ day.ratio }}</span>
      <common-tooltip class="tool" text="На этот коэффициент мы умножим твой оборот за день, <br />в зависимости от количества верно сделанных прогнозов" title="Коэффициент" placement="top-start" />
    </h1>
    <p class="end">
      <span class="t">{{ seconds > 0 ? 'До конца голосования' : 'Голосование закончено' }}</span>
    </p>
    <div class="timer" v-if="seconds > 0">
      <span>
        <template v-if="dividedTime.days">{{ dividedTime.days }} : </template>
        <template v-if="dividedTime.hours">{{ dividedTime.hours }} : </template>
        <template v-if="dividedTime.mins">{{ dividedTime.mins }} : </template>
        <template v-if="dividedTime.secs">{{ dividedTime.secs }}</template>
      </span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CommonTooltip from '@/components/common/Tooltip'

export default {
  name: 'SectionContentForecastsHead',
  components: {
    CommonTooltip
  },
  data() {
    return {
      seconds: null,
      interval: null
    }
  },
  watch: {
    day: {
      handler() {
        this.seconds = this.day.end_at ? (this.day.end_at - Math.trunc(Date.now() / 1000)) : 0
      },
      immediate: true
    }
  },
  computed: {
    ...mapState('app', ['day']),
    // seconds() {
    //   return
    // },
    dividedTime() {
      return {
        secs: Math.floor(this.seconds % 60).toString().padStart(2, '0'),
        mins: Math.floor(this.seconds / 60 % 60).toString().padStart(2, '0'),
        hours: Math.floor(this.seconds / 60 / 60 % 24).toString().padStart(2, '0'),
        days: Math.floor(this.seconds / 60 / 60 / 24)
      }
    }
  },
  mounted() {
    this.interval = setInterval(() => {
      if (this.seconds === 0) {
        window.location.reload()
        clearInterval(this.interval)
        return
      }
      this.seconds--
    }, 1000)
  },
  beforeDestroy() {
    clearInterval(this.interval)
  }
}
</script>

<style lang="less" scoped>
.head {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2em;

    .t {
      font-weight: 700;
      font-size: 3.6em;
      line-height: 1.25;
    }

    .value {
      font-weight: 800;
      font-size: 4em;
      line-height: 1.25;
      letter-spacing: 0.15em;
    }

    .tool {

    }
  }

  .end {
    margin-top: 1.8em;

    span {
      font-weight: 400;
      font-size: 2em;
      line-height: 1.2;
    }
  }

  .timer {
    margin-top: 0.5em;

    span {
      font-weight: 600;
      font-size: 4em;
      line-height: 1.2;
      background: linear-gradient(238.72deg, #FFE600 30.37%, #6CC900 93.96%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

@media screen and (max-width: 767px) {
  .head {
    .title {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 1.6em;
      .t {
        font-size: 1.8em;
        span {
          display: none;
        }
      }

      .value {
        font-size: 3.6em;
      }

      .tool {
        display: none !important;
      }
    }

    .end {
      margin-top: 1em;
      .t {
        font-size: 1.4em;
      }
    }
    .timer {
      margin-top: 0.3em;

      span {
        font-size: 2.8em;
      }
    }
  }
}
</style>
