<template>
  <section class="container">
    <template v-if="day">
      <section-content-forecasts-head />
      <div class="swiper-slider" v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper">
          <section-content-forecasts-match :id="index === 0 ? 'match-first' : index === 1 ? 'match-second' : ''" :index="index" :length="day.matches.length" class="swiper-slide" v-for="(i, index) in day.matches" :key="i.id" :match="i" @input="onInput($event, i.id)" />
        </div>
      </div>
      <button id="save" class="save" :disabled="identity && (saved || forecast.length !== day.matches.length || day.forecasted || !day.active)" @click="onClick">
        <svg width="462" height="65" viewBox="0 0 462 65" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
          <path d="M1.37653 54.3191L17.0651 6.0384C18.0621 2.96924 20.9132 0.897194 24.1381 0.897194L453.566 0.897156C458.614 0.897156 462.197 5.82025 460.639 10.6187L444.95 58.8995C443.953 61.9686 441.102 64.0407 437.877 64.0407L8.43403 64.0407C3.38628 64.0407 -0.19699 59.1176 1.36096 54.3191H1.37653Z" fill="currentColor"/>
        </svg>
        <span class="t">{{ !identity ? 'Войдите в систему' : (ended || !day.active ? 'Голосование закончено' : (day.forecasted || saved ? 'Прогноз сохранен' : 'Сохранить прогноз')) }}</span>
      </button>
    </template>
    <button class="rules" @click="$modal.show(() => import(/* webpackChunkName: 'ModalRules' */ '../../../modals/rules.vue'), {},{ name: 'ModalRules' })">
      <span class="t">Правила</span>
    </button>
  </section>
</template>

<script>
import 'swiper/css/swiper.min.css'
import SectionContentForecastsHead from '@/components/section/content/forecasts/head'
import SectionContentForecastsMatch from '@/components/section/content/forecasts/match'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'SectionContentForecasts',
  components: {
    SectionContentForecastsMatch,
    SectionContentForecastsHead
  },
  data() {
    return {
      saved: false,
      forecast: [],
      swiperOption: {
        breakpoints: {
          767: {
            slidesPerView: 10
          },
          0: {
            slidesPerView: 1,
            spaceBetween: 0
          }
        }
      }
    }
  },
  computed: {
    ...mapState('app', ['day', 'identity']),
    ended() {
      return (this.day.end_at * 1000) < Date.now()
    },
    registrationHref() {
      return this.$isMobile ? 'https://www.pari.ru/mobile/registration/start/' : 'https://www.pari.ru/account/registration'
    }
  },
  methods: {
    ...mapActions('app', ['postForecast', 'getDay']),
    onInput(team_id, match_id) {
      setTimeout(() => {
        this.mySwiper.slideNext()
      }, 300)
      const ind = this.forecast.findIndex(el => el.match_id === match_id)
      if (ind !== -1) {
        this.forecast[ind].team_id = team_id
      } else {
        this.forecast.push({
          match_id,
          team_id
        })
      }
    },
    async onClick() {
      if (!this.identity) {
        this.$gtm.push({
        'event':'landing',
        'eventCategory':'registration',
        'eventAction':'registration_link_button_click',
        'eventLabel':'{{Page URL}}'
      })
        window.open(this.registrationHref, '_blank').focus()
        return
      }
      await this.postForecast(this.forecast)
      await this.getDay()
      this.saved = true

      this.$modal.show(() => import(/* webpackChunkName: 'ModalForecastSuccess' */ '../../../modals/forecast-success.vue'), {},{
        name: 'ModalForecastSuccess'
      })
    }
  }
}
</script>

<style lang="less" scoped>
.container {
  background: rgba(0, 0, 0, 0.5);
  grid-row: span 2;
  padding: 4em 8em 6em;
  display: flex;
  align-items: center;
  flex-direction: column;

  .swiper-slider {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .save {
    position: relative;
    transition: opacity .3s;

    &:not([disabled]):hover {
      opacity: 0.7;
    }

    &[disabled] {
      svg {
        color: lightgrey;
      }
    }

    svg {
      color: #B40091;
      transition: color .3s;
      width: 46em;
      height: 6.3em;
      display: block;
    }

    .t {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 2.8em;
      line-height: 1.2;
      transition: color .3s;
      white-space: nowrap;
    }
  }
}

.rules {
  display: none;
}

@media screen and (min-width: 768px) {
  :global(.swiper-wrapper) {
    flex-direction: column;
  }

  :global(.swiper-slide) {
    width: 100% !important;
  }
}

:global(.swiper-slide) {
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .rules {
    margin: 2.4em auto 0;
    transition: opacity .3s;
    display: block;

    &:hover {
      opacity: 0.7;
    }

    .t {
      font-weight: 500;
      font-size: 1.6em;
      line-height: 1.25;
    }
  }

  .swiper-slider {
    margin-top: 2em;
    margin-left: -2em;
    margin-right: -2em;
    width: calc(100% + 4em) !important;
  }

  .container {
    background: none;
    padding: 0.4em 0 0;

    .save {
      width: 100%;
      margin-top: 1.8em;

      svg {
        width: 100%;
        height: 5.4em;
      }

      .t {
        font-size: 1.8em;
      }
    }
  }
}
</style>
