<template>
  <div class="match">
    <div class="team">
      <div class="imgbox">
        <img :src="match.teamA.image_url" :alt="match.teamA.name">
      </div>
      <div class="info">
        <span class="name">
          <span class="t">{{ match.teamA.name }}</span>
        </span>
        <button :class="['check', {'selected': selected === match.teamA.id}]" @click="check(match.teamA.id)">
          <svg width="171" height="39" viewBox="0 0 171 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.231709 32.843L9.70783 3.68069C10.3101 1.82687 12.0322 0.575317 13.9801 0.575317H166.345C169.394 0.575317 171.559 3.54895 170.618 6.4473L161.141 35.6097C160.539 37.4635 158.817 38.7151 156.869 38.7151H4.49455C1.44563 38.7151 -0.718725 35.7414 0.2223 32.843H0.231709Z" fill="currentColor"/>
          </svg>
          <span class="t">{{ selected === match.teamA.id ? 'Выбрано' : 'Выбрать' }}</span>
        </button>
      </div>
    </div>
    <span class="vs">
      <span class="t">VS</span>
    </span>
    <div class="team">
      <div class="info">
        <span class="name">
          <span class="t">{{ match.teamB.name }}</span>
        </span>
        <button :class="['check', {'selected': selected === match.teamB.id }]" @click="check(match.teamB.id)">
          <svg width="171" height="39" viewBox="0 0 171 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.231709 32.843L9.70783 3.68069C10.3101 1.82687 12.0322 0.575317 13.9801 0.575317H166.345C169.394 0.575317 171.559 3.54895 170.618 6.4473L161.141 35.6097C160.539 37.4635 158.817 38.7151 156.869 38.7151H4.49455C1.44563 38.7151 -0.718725 35.7414 0.2223 32.843H0.231709Z" fill="currentColor"/>
          </svg>
          <span class="t">{{ selected === match.teamB.id ? 'Выбрано' : 'Выбрать' }}</span>
        </button>
      </div>
      <div class="imgbox">
        <img :src="match.teamB.image_url" :alt="match.teamB.name">
      </div>
    </div>
    <div class="counter">
      <span>{{ index + 1 }}/{{ length }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SectionContentForecastsMatch',
  data() {
    return {
      selected: null
    }
  },
  props: {
    match: {
      type: Object,
      default: () => {}
    },
    index: {
      type: Number,
      required: true
    },
    length: {
      type: Number,
      required: true
    }
  },
  methods: {
    check(teamId) {
      this.selected = teamId
      this.$emit('input', teamId)
    }
  }
}
</script>

<style scoped lang="less">
.match {
  display: flex;
  align-items: center;
  align-self: stretch;

  .team {
    display: flex;
    align-items: center;

    .imgbox {
      width: 16em;
      height: 16em;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      .name {
        margin-bottom: 1.8em;
        .t {
          font-weight: 700;
          font-size: 2.8em;
          line-height: 1.2;
        }
      }

      .check {
        transition: opacity .3s;
        position: relative;

        &:hover:not(.selected) {
          opacity: 0.7;
        }

        &.selected {
          svg {
            color: #B40091;
          }
          .t {
             color: #FFFFFF;
          }
        }

        svg {
          color: #00C7B1;
          transition: color .3s;
          width: 17em;
          height: 3.8em;
          display: block;
        }

        .t {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-weight: 700;
          font-size: 1.6em;
          line-height: 1.25;
          color: #000000;
          transition: color .3s;
        }
      }
    }

    &:first-child {
      .imgbox {
        margin-right: auto;
      }

      .info {
        align-items: flex-start;
        margin-left: 6.5em;
      }
    }

    &:nth-last-child(2) {
      .imgbox {
        margin-left: auto;
      }

      .info {
        align-items: flex-end;
        margin-right: 6.5em;
      }
    }
  }

  .vs {
    flex: 1;
    text-align: center;
    .t {
      font-weight: 700;
      font-size: 3.2em;
      line-height: 1.2;
    }
  }
}

@media screen and (min-width: 768px) {
  .match {
    flex: 1;
  }
  .counter {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .match {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3.5px);
    border-radius: 15px;
    padding: 1.5em 1.8em;
    .team {
      .imgbox {
        width: 10.4em;
        height: 10.4em;
      }
      &:first-child {
        .info {
          margin-left: 2.5em;
        }
      }
      &:nth-last-child(2) {
        .info {
          margin-right: 2.5em;
        }
      }
      .info {
        .name {
          .t {
            font-size: 2em;
          }
        }

        .check {
          svg {
            width: 14.2em;
            height: 3.2em;
          }

          .t {
            font-size: 1.4em;
          }
        }
      }
    }
    .vs {
      .t {
        font-size: 4.8em;
      }
    }
  }

  .counter {
    margin-top: 2em;
    span {
      font-weight: 500;
      font-size: 1.6em;
      line-height: 1.25;
    }
  }
}
</style>
