<template>
  <div class="modal" :style="`--color-shadow: ${ticket.color + '68'};--color: ${ticket.color};`">
    <button class="close" @click="$modal.hide('ModalCongrat')">
      <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.4633 5.39877L25.9961 0L15.7637 10.0982L5.53753 0L0.0703125 5.39877L10.2965 15.4969L0.0703125 25.6012L5.53753 31L15.7637 20.9018L25.9961 31L31.4633 25.6012L21.2371 15.4969L31.4633 5.39877Z" fill="#727272"/>
      </svg>
    </button>

    <span class="title">
      <span class="t">Поздравляем!</span>
    </span>

    <div class="img">
      <free-bet class="freebet" :color="ticket.color" light :nominal="ticket.nominal" />
      <img src="@/assets/images/freebet.svg" alt="">
    </div>

    <span class="text">
      <span class="t">Твой фрибет будет начислен <br />в течение 24 часов.</span>
    </span>

    <a class="btn" target="_blank" href="https://www.pari.ru/sports/esports/">
      <svg width="461" height="65" viewBox="0 0 461 65" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M0.618965 54.3661L16.3075 6.08533C17.3046 3.01618 20.1556 0.94413 23.3806 0.94413L452.808 0.944092C457.856 0.944092 461.439 5.86719 459.881 10.6657L444.193 58.9464C443.196 62.0155 440.345 64.0876 437.12 64.0876L7.67646 64.0877C2.62871 64.0877 -0.954558 59.1645 0.603388 54.3661H0.618965Z" fill="#B40091"/>
      </svg>
      <span class="t">Сделать ставку</span>
    </a>
  </div>
</template>

<script>
import FreeBet from '@/components/freebets'
export default {
  name: 'ModalCaseCongrat',
  components: {
    FreeBet
  },
  props: {
    ticket: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style scoped lang="less">
.modal {
  background: rgba(30, 30, 30, 0.95);
  border: .3em solid var(--color);
  box-shadow: 0 0 4.6em var(--color-shadow);
  border-radius: 10px;
  padding: 7em 0 8em;
  width: 86.4em;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3em 6em;

  &:hover svg {
    opacity: 0.7;
  }

  svg {
    display: block;
    width: 3em;
    height: auto;
    transition: .3s opacity;
  }
}

.img {
  position: relative;
  margin: 4em 0;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 4em;
    width: auto;
    display: block;
  }

  .freebet {
    height: 13.6em;
    width: auto;
  }
}

.title {
  text-align: center;
  .t {
    font-weight: 700;
    font-size: 6.4em;
    line-height: 1.2;
  }
}

.text {
  margin-bottom: 4em;
  text-align: center;
  .t {
    font-weight: 500;
    font-size: 3.6em;
    line-height: 1.2;
  }
}

.btn {
  position: relative;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }

  svg {
    width: 46em;
    filter: drop-shadow(0 5px 13px rgba(180, 0, 145, 0.67));
    height: 6.4em;
  }

  .t {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 2.8em;
    line-height: 1.2;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    width: auto;
    margin: 0 var(--layout-offset);
    padding: 2.2em 0 3em;
  }

  .close {
    display: none;

    svg {
      width: 1em;
    }
  }

  .img {
    margin: 2.4em 0;
    .freebet {
      height: 4.4em;
    }
    > img {
      height: 1.4em;
    }
  }

  .title {
    .t {
      font-size: 2em;
    }
  }

  .text {
    .t {
      font-size: 1.2em;
    }
  }

  .btn {
    width: auto;
    svg {
      width: 19.4em;
      height: 2.6em;
      display: block;
    }

    .t {
      font-size: 1.2em;
    }
  }
}

</style>
