<template>
  <div class="modal">
    <button class="close" @click="$modal.hide('ModalCase')">
      <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.4633 5.39877L25.9961 0L15.7637 10.0982L5.53753 0L0.0703125 5.39877L10.2965 15.4969L0.0703125 25.6012L5.53753 31L15.7637 20.9018L25.9961 31L31.4633 25.6012L21.2371 15.4969L31.4633 5.39877Z" fill="#727272"/>
      </svg>
    </button>
    <div class="head"></div>
    <div class="cases">
      <div class="case" v-for="i in filteredCases" :key="i.id">
        <span class="title">
          <span class="t">Case "{{ i.name }}"</span>
        </span>
        <div class="imgbox">
          <img :src="i.image_url" :alt="'Case ' + i.name">
        </div>
      </div>
    </div>
    <div class="controls">
      <button class="start" @click="start" :disabled="true">
        <svg width="461" height="64" viewBox="0 0 461 64" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
          <path d="M0.618965 53.4728L16.3075 5.19202C17.3046 2.12287 20.1556 0.0508194 23.3806 0.0508194L452.808 0.0507812C457.856 0.0507812 461.439 4.97388 459.881 9.77235L444.193 58.0531C443.196 61.1222 440.345 63.1943 437.12 63.1943L7.67646 63.1944C2.62871 63.1944 -0.954558 58.2712 0.603388 53.4728H0.618965Z" fill="currentColor"/>
        </svg>
        <span class="t">Открыть кейс</span>
      </button>
      <div class="balance">
        <span class="title">
          <span class="t">Ваш баланс:</span>
        </span>
        <span class="value">
          <span class="t">{{ balance }}₽</span>
        </span>
      </div>
    </div>
    <div class="wrap">
      <template v-if="theCase">
        <svg class="arrows" width="72" height="231" viewBox="0 0 72 231" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M35.9994 55.8854L5.16477 13.9929L66.8341 13.9929L35.9994 55.8854Z" fill="url(#paint0_linear_157_12725)"/>
          <path d="M35.9994 174.862L5.16477 216.754L66.8341 216.754L35.9994 174.862Z" fill="url(#paint1_linear_157_12725)"/>
          <defs>
            <linearGradient id="paint0_linear_157_12725" x1="18.4481" y1="130.804" x2="110.659" y2="59.3866" gradientUnits="userSpaceOnUse">
              <stop offset="0.506598" stop-color="#FFE600"/>
              <stop offset="1" stop-color="#6CC900"/>
            </linearGradient>
            <linearGradient id="paint1_linear_157_12725" x1="18.4481" y1="99.9436" x2="110.659" y2="171.361" gradientUnits="userSpaceOnUse">
              <stop offset="0.506598" stop-color="#FFE600"/>
              <stop offset="1" stop-color="#6CC900"/>
            </linearGradient>
          </defs>
        </svg>
        <div class="track track1">
          <template v-for="j in 2">
            <div class="ticket" v-for="(i, index) in theCase.items" :data-id="i.id" :key="i.id + '_' + j" :style="{ '--color': i.color, '--color-shadow': i.color + '51' }">
              <div>
                <free-bet class="nominal" :nominal="i.nominal" :color="i.color" />
                <img src="@/assets/images/freebet.svg" alt="">
              </div>
              <div v-if="isMobile" :style="{ '--color': theCase.items[((index + 2) > 3) ? index - 2 : index + 2].color }">
                <free-bet class="nominal" :nominal="theCase.items[((index + 2) > 3) ? index - 2 : index + 2].nominal" :color="theCase.items[((index + 2) > 3) ? index - 2 : index + 2].color" />
                <img src="@/assets/images/freebet.svg" alt="">
              </div>
            </div>
          </template>
        </div>
      </template>
      <ui-spinner v-else class="spinner" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import FreeBet from '@/components/freebets'
import UiSpinner from '@/components/ui/spinner'

export default {
  name: 'ModalCase',
  components: {
    UiSpinner,
    FreeBet
  },
  data() {
    return {
      roulette: null,
      started: false,
      windowWidth: 0
    }
  },
  props: {
    id: {
      type: [Number, String],
      required: true
    }
  },
  computed: {
    ...mapState('app', ['identity', 'cases', 'theCase']),
    currentCase() {
      return this.cases.find(el => el.id === this.id)
    },
    filteredCases() {
      const notCurrent = this.cases.filter(el => el.id !== this.id)
      return [notCurrent[0], this.currentCase, notCurrent[1]]
    },
    balance() {
      return new Intl.NumberFormat().format(this.identity?.balance || 0)
    },
    isMobile() {
      return this.windowWidth < 768
    }
  },
  async mounted() {
    const getIdentity = this.getIdentity
    const modal = this.$modal
    this.setWidth()
    window.addEventListener('resize', this.setWidth)
    await this.getCase(this.id)
    const theCase = this.theCase
    this.$nextTick(() => {
      let options = {
        spacing: 10,
        acceleration: 200,
        // fps: 40,
        selector: ":scope > .ticket",
        audio: null,

        async stopCallback({ detail }) {
          await getIdentity()
          const ticket = theCase.items.find(el => el.id == detail.prize.element.dataset.id)
          modal.hideAll()
          modal.show(() => import(/* webpackChunkName: 'ModalCongrat' */ './congrat.vue'), {
            ticket
          },{
            name: 'ModalCongrat'
          })
          modal.hide('ModalCase')
        }
      }

      this.roulette = new Roulette('.track1', options)
    })
  },
  methods: {
    setWidth() {
      this.windowWidth = document.body.clientWidth
    },
    ...mapActions('app', ['openCase', 'getIdentity', 'getCase']),
    ...mapMutations('app', ['data']),
    async start() {
      this.started = true
      const res = await this.openCase(this.id)
      const index = this.theCase.items.findIndex(el => el.id === res.id)
      this.roulette.rotateTo(index, { tracks: 2 })
    }
  },
  beforeDestroy() {
    this.data({
      field: 'theCase',
      data: null
    })
    window.removeEventListener('resize', this.setWidth)
  }
}
</script>

<style lang="less" scoped>
.modal {
  background: rgba(30, 30, 30, 0.95);
  border: 0.3em solid #00C7B1;
  border-radius: 10px;
  margin: 0 var(--layout-offset);
  padding: 5.8em 10.6em 0;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3em 6em;

  &:hover svg {
    opacity: 0.7;
  }

  svg {
    display: block;
    width: 3em;
    height: auto;
    transition: .3s opacity;
  }
}

.cases {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .case {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgbox {
      width: 46em;
      img {
        filter: drop-shadow(-13.5037px 13.5037px 18.005px rgba(0, 0, 0, 0.25));
        width: 100%;
      }
    }

    .title {
      .t {
        font-weight: 500;
        font-size: 3.6em;
        line-height: 1.2;
      }
    }

    &:first-child, &:last-child {
      opacity: 0.5;

      .title {
        .t {
          font-size: 2.4em;
        }
      }

      .imgbox {
        width: 36em;
      }
    }
  }
}

.controls {
  position: relative;
  display: flex;
  //justify-content: space-between;
  padding: 4em 0;
  border-bottom: 3px solid #00C7B1;

  .start {
    margin: 0 auto;
    position: relative;
    transition: opacity .3s;

    &:not([disabled]):hover {
      opacity: 0.7;
    }

    &[disabled] {
      svg {
        color: lightgrey;
      }
    }

    svg {
      color: #B40091;
      transition: color .3s;
      width: 46em;
      height: 6.3em;
      display: block;
    }

    .t {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 2.8em;
      line-height: 1.2;
      transition: color .3s;
      white-space: nowrap;
    }
  }

  .balance {
    position: absolute;
    bottom: 4em;
    right: 0;
    display: flex;
    align-items: baseline;

    .title {
      .t {
        font-weight: 700;
        font-size: 2em;
        line-height: 1.2;
      }
    }

    .value {
      margin-left: 1.4em;

      .t {
        font-weight: 700;
        font-size: 3.4em;
        line-height: 1.2;
        background: linear-gradient(238.72deg, #FFE600 30.37%, #6CC900 93.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
}

.wrap {
  padding: calc(7.5em - 10px) 10.6em !important;
  margin: 0 -10.6em;
  position: relative;
  overflow: hidden;

  &.mobile {
    display: none;
  }

  .arrows {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    display: block;
    z-index: 5;
  }
}

.track {
  margin: 0 -10px;
  overflow: visible !important;
  .ticket {
    width: calc((100% - 20px - (3 * 10px)) / 4);
    > div {
      height: 14.2em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: #101010;
      border: 0.5em solid var(--color);
      border-radius: 15px;
      box-sizing: border-box;
    }

    img {
      width: 16em;
      height: auto;
      display: block;
      position: relative;
    }

    .nominal {
      height: 6.6em;
      display: block;
      width: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.spinner {
  margin: 4em auto;
}

@media screen and (max-width: 767px) {
  .close {
    display: none;
  }

  .modal {
    background: linear-gradient(90deg, #1F1E1E 0%, #000000 100%);
    height: 100vh;
    padding: 0 var(--layout-offset) 7em;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0;
    border: 0;
    margin: 0;

    .head {
      height: 7.4em;
      background: linear-gradient(90deg, #1F1E1E -2em, #000000 100%);
      width: 100%;
      flex-shrink: 0;
      position: sticky;
      top: 0;
      z-index: 1123123;
    }

    -webkit-overflow-scrolling: touch;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .cases {
    .case {
      .title {
        margin-bottom: 1.2em;
        .t {
          font-size: 2.4em;
        }
      }

      .imgbox {
        height: 16em;
        width: 24em;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &:first-child, &:last-child {
        display: none;
      }
    }
  }

  .controls {
    .balance {
      display: none;
    }

    .start {
      svg {
        width: 100%;
        height: 5.4em;
      }
      .t {
        font-size: 1.8em;
        font-weight: 700;
      }
    }
  }

  .wrap {
    padding: 0 10.6em !important;

    .arrows {
      height: calc(50% + 1em);
    }

    &.mobile {
      display: block;
    }
  }

  .track {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    .ticket {
      width: calc((100% - 30px) / 2);
      > div {
        height: 5.8em;
        border-width: 2px;
        &:nth-child(2) {
          margin-top: 1em;
        }
      }
      .nominal {
        height: 2.6em;
      }
      img {
        height: 0.8em;
        width: auto;
      }
    }
  }
}
</style>
