<template>
  <section class="container">
    <div class="head"></div>
    <h2 class="title">
      <span class="t">Фрибет кейсы</span>
    </h2>
    <section-content-cases-item class="item" v-for="(i, index) in cases" :id="modal && index === 1 ? 'case-second' : index === 2 ? 'case-third' : 'case'" :key="i.id" :item="i" />
    <a :id="modal ? 'forecast' : ''" target="_blank" href="https://www.pari.ru/sports/esports/" class="btn">
      <svg width="461" height="65" viewBox="0 0 461 65" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M0.618965 54.3661L16.3075 6.08533C17.3046 3.01618 20.1556 0.94413 23.3806 0.94413L452.808 0.944092C457.856 0.944092 461.439 5.86719 459.881 10.6657L444.193 58.9464C443.196 62.0155 440.345 64.0876 437.12 64.0876L7.67646 64.0877C2.62871 64.0877 -0.954558 59.1645 0.603388 54.3661H0.618965Z" fill="#B40091"/>
      </svg>
      <span class="t">Сделать ставку</span>
    </a>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import SectionContentCasesItem from '~/components/section/content/cases/item'

export default {
  name: 'SectionContentCases',
  components: {
    SectionContentCasesItem
  },
  computed: {
    ...mapState('app', ['cases'])
  },
  props: {
    modal: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="less" scoped>
.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 2.4em 3em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  margin-bottom: 1.6em;
  text-align: center;

  .t {
    font-weight: 700;
    font-size: 4.8em;
    line-height: 1.2;
  }
}

.item {
  &:not(:nth-last-child(2)) {
    border-bottom: 3px solid rgba(255, 255, 255, 0.22);
  }
}

.btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .container {
    background: linear-gradient(90deg, #1F1E1E 0%, #000000 100%);
    height: 100vh;
    padding: 0 var(--layout-offset) 7em;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    -webkit-overflow-scrolling: touch;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .head {
      height: 7.4em;
      background: linear-gradient(90deg, #1F1E1E -2em, #000000 100%);
      width: 100%;
      flex-shrink: 0;
      position: sticky;
      top: 0;
      z-index: 1123123;
    }
  }
  .title {
    .t {
      font-size: 3.2em;
    }
  }


  .btn {
    width: 100%;
    position: relative;
    transition: opacity .3s;
    display: block;
    margin-top: 3.2em;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 100%;
      filter: drop-shadow(0 5px 13px rgba(180, 0, 145, 0.67));
      height: 5.4em;
      display: block;
    }

    .t {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 1.8em;
      line-height: 1.2;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }
}
</style>
