<template>
  <div class="item">
    <div class="imgbox">
      <img :src="item.image_url" />
    </div>
    <div class="info">
      <div class="top">
        <span class="title">
          <span class="t">{{ item.name }}</span>
        </span>
        <common-tooltip class="tool" :text="item.description" :title="item.name" />
      </div>
      <div class="bot">
        <span class="price" v-if="price">
          <span class="t">{{ price }}</span>
          <common-tooltip class="tool mobile" :text="item.description" :title="item.name" />
        </span>
        <button class="btn" @click="openModal(item.id)">
          <svg width="172" height="39" viewBox="0 0 172 39" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.05397 33.0922L10.5301 3.92983C11.1324 2.07601 12.8544 0.824463 14.8023 0.824463H167.168C170.217 0.824463 172.381 3.79809 171.44 6.69645L161.964 35.8588C161.361 37.7126 159.639 38.9642 157.692 38.9642H5.31682C2.2679 38.9642 0.103541 35.9905 1.04457 33.0922H1.05397Z" fill="currentColor"/>
          </svg>
          <span class="t">Открыть</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import CommonTooltip from '~/components/common/Tooltip'
import { mapState } from 'vuex'

export default {
  name: 'SectionContentCasesItem',
  components: {
    CommonTooltip
  },
  data() {
    return {
      value: 3000
    }
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    ...mapState('app', ['identity']),
    price() {
      return new Intl.NumberFormat().format(this.item?.price || 0)
    }
  },
  methods: {
    openModal(id) {
      try {
        this.$modal.hide('Cases')
      } catch (e) {}
      this.$modal.show(() => import(/* webpackChunkName: 'ModalCase' */ '../../../../components/modals/case/index.vue'), {
        id
      },{
        name: 'ModalCase'
      })
    }
  }
}
</script>

<style lang="less" scoped>
.item {
  padding: 1.2em 0;
  display: flex;
  align-items: center;
  flex: 1;

  .imgbox {
    width: 19em;
    height: 13em;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .top {
    display: flex;
    align-items: baseline;

    .title {
      text-align: right;
      .t {
        font-weight: 500;
        font-size: 2.4em;
        line-height: 1.2;
      }
    }
  }

  .tool {
    margin-left: 1.6em;
    z-index: 10 !important;
    &.mobile {
      display: none !important;
    }
  }

  .bot {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2em;

    .price {
      margin-right: 2em;
      .t {
        font-weight: 700;
        font-size: 2.8em;
        line-height: 1.2;
      }
    }

    .btn {
      position: relative;
      transition: opacity .3s;

      &:not([disabled]):hover {
        opacity: 0.7;
      }

      &[disabled] {
        span {
          color: white;
        }
        svg {
          color: lightgrey;
        }
      }

      svg {
        width: 17em;
        height: 3.8em;
        color: #00C7B1;
      }

      .t {
        color: #000000;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 1.6em;
        line-height: 1.25;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .item {
    flex: 0;
    .imgbox {
      width: 14.5em;
      height: 10em;
    }

    .info {
      .top {
        .title {
          .t {
            font-size: 1.6em;
          }
        }
      }

      .tool {
        display: block !important;
        &:not(.mobile) {
          display: none !important;
        }
      }
      .bot {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 0.6em;

        .price {
          margin-right: 0;
          display: flex;
          align-items: center;
          margin-bottom: 1em;
          .t {
            font-size: 2em;
          }
        }

        .btn {
          svg {
            width: 14.2em;
            height: 3.2em;
          }

          .t {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
</style>
