<template>
  <client-only>
    <v-popover :placement="placement" offset="10" class="tooltip" v-if="title || text">
      <svg class="btn" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="9.15967" cy="9.39343" r="9" fill="#D9D9D9"/>
        <path d="M8.4392 11.1989H10.7108C10.7108 9.60431 13.2382 9.33352 13.2382 6.92652C13.2382 5.15136 11.6736 4.14343 9.41704 4.14343C7.38614 4.14343 5.97203 4.92571 5.15967 6.15929L6.97996 7.2274C7.46136 6.53539 8.1985 6.11416 9.1613 6.11416C10.1391 6.11416 10.786 6.58052 10.786 7.31766C10.786 8.62646 8.4392 9.09282 8.4392 11.1989ZM9.58253 14.9749C10.425 14.9749 11.0267 14.3581 11.0267 13.6059C11.0267 12.8387 10.425 12.267 9.58253 12.267C8.74008 12.267 8.13833 12.8387 8.13833 13.6059C8.13833 14.3581 8.74008 14.9749 9.58253 14.9749Z" fill="black"/>
      </svg>
      <div class="popover-custom" slot="popover">
        <span class="title" v-if="title">
          <span class="t" v-html="title" />
        </span>
        <span class="text" v-if="text">
          <span class="t" v-html="text" />
        </span>
      </div>
    </v-popover>
  </client-only>
</template>

<script>
export default {
  name: 'CommonTooltip',
  props: {
    title: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    placement: {
      type: String,
      default: 'top-end'
    }
  }
}
</script>

<style lang="less" scoped>
.tooltip {
  svg {
    width: 1.8em;
    height: auto;
    display: block;
    transition: .3s opacity;
    cursor: pointer;
  }

  &:hover {
    svg {
      opacity: 0.7;
    }
  }
}

.popover-custom {
  border: 1px solid #FFE600;
  border-radius: 2px;
  padding: 1.4em 2.2em;
  background: #000000;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: var(--font-size) !important;

  .title {
    .t {
      font-weight: 600;
      font-size: 1.6em;
      line-height: 1.25;
    }
  }

  .text {
    .t {
      font-weight: 400;
      font-size: 1.2em;
      line-height: 1.25;
    }
  }
}

:global(.popover) {
}

:global(.popover-arrow) {
  border-color: red;
}
</style>
