:root {
  --font-size: 0.52vw;
  --layout-offset: 10em;
  --pink: #B40091;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size);
  color: #FFFFFF;
}

button {
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  display: block;
}

p {
  padding: 0;
  margin: 0;
}

.roulette__list {
  .ticket {
    width: 100% !important;
  }
}

.vm--container.scrollable {
  overflow-x: hidden !important;

  -webkit-overflow-scrolling: touch;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.vm--modal {
  background-color: transparent !important;
  transition: transform .3s;
}
.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    //background: black;
    //color: white;
    //border-radius: 16px;
    //padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: #FFE600;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    //$color: #f9f9f9;

    .popover-inner {
      //background: ????;
      //color: black;
      //padding: 24px;
      //border-radius: 5px;
      //box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: #FFE600;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
.fade-rects {
  &-enter-active,
  &-leave-active {
    fill-opacity: 1;
    transition: fill-opacity .3s ease;
  }

  &-enter,
  &-leave-to {
    fill-opacity: 0;
  }
}
.fade {
  &-enter-active,
  &-leave-active {
    opacity: 1;
    transition: opacity .4s ease;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --font-size: 3.125vw;
    --layout-offset: 2em;
  }
}

