<template>
  <div class="container" v-if="!isMobile" @click="onClick">
    <button class="close" @click="closeGuide">
      <svg v-if="!isMobile" width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.7318 5.39877L26.2646 0L16.0322 10.0982L5.80602 0L0.338806 5.39877L10.565 15.4969L0.338806 25.6012L5.80602 31L16.0322 20.9018L26.2646 31L31.7318 25.6012L21.5056 15.4969L31.7318 5.39877Z" fill="#727272"/>
      </svg>
      <svg v-else width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3.0874" y="22.2254" width="3" height="28" rx="1.5" transform="rotate(-135 3.0874 22.2254)" fill="white"/>
        <rect x="22.8862" y="20.1041" width="3" height="28" rx="1.5" transform="rotate(135 22.8862 20.1041)" fill="white"/>
      </svg>
    </button>
    <svg :width="window.width" :height="window.height" :viewBox="`0 0 ${window.width} ${window.height}`" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
      <rect mask="url(#holes)" x="0" :width="window.width" :height="window.height" fill="black" />
      <mask id="holes">
        <rect key="black-rect" x="0" :width="window.width" :height="window.height" fill-opacity="0.9" fill="#FFFFFF" />
        <transition-group name="fade-rects" tag="g">
          <rect v-for="(rect, index) in rects" :key="index + 1" :x="rect.x" :y="rect.y" :width="rect.width" :height="rect.height" rx="12" fill="#000000" />
        </transition-group>
      </mask>
    </svg>
    <div class="next-layout" v-if="currentStageIndex === 1" @click="currentStageIndex++;step=0;$modal.show(() => import(/* webpackChunkName: 'Cases' */ '../content/cases/index'), { modal: true }, {name: 'Cases', height: 'auto'})"></div>
    <div>
      <transition-group name="fade">
        <button key="next" class="next" v-if="step > (isMobile ? 2 : 4) && currentStageIndex === 0" @click="step = 0;currentStageIndex++">
          <svg width="342" height="69" viewBox="0 0 342 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.46027 56.3163L18.1488 8.03553C19.1459 4.96638 21.9969 2.89433 25.2219 2.89433L332.283 2.89429C337.331 2.89429 340.914 7.81738 339.357 12.6159L323.668 60.8966C322.671 63.9657 319.82 66.0378 316.595 66.0378L9.51777 66.0379C4.47002 66.0379 0.88675 61.1147 2.4447 56.3163H2.46027Z" fill="black" stroke="url(#paint0_linear_2_11)" stroke-width="4"/>
            <defs>
              <linearGradient id="paint0_linear_2_11" x1="254.122" y1="-81.7978" x2="193.577" y2="114.889" gradientUnits="userSpaceOnUse">
                <stop offset="0.506598" stop-color="#FFE600"/>
                <stop offset="1" stop-color="#6CC900"/>
              </linearGradient>
            </defs>
          </svg>
          <span class="center">
            <span class="t">{{ isMobile ? 'Далее' : 'Почти закончили' }}</span>
            <svg width="17" height="23" viewBox="0 0 17 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.44661 0.46367C2.49942 -0.233701 1.16624 -0.0311827 0.468868 0.916008C-0.228504 1.8632 -0.0259848 3.19638 0.921206 3.89375L3.44661 0.46367ZM0.921205 19.0384C-0.0259855 19.7358 -0.228504 21.0689 0.468867 22.0161C1.16624 22.9633 2.49942 23.1658 3.44661 22.4685L0.921205 19.0384ZM14.7983 11.4661L16.061 13.1811C16.6062 12.7797 16.928 12.1431 16.928 11.4661C16.928 10.7891 16.6062 10.1524 16.061 9.75103L14.7983 11.4661ZM0.921206 3.89375L13.5356 13.1811L16.061 9.75103L3.44661 0.46367L0.921206 3.89375ZM13.5356 9.75103L0.921205 19.0384L3.44661 22.4685L16.061 13.1811L13.5356 9.75103Z" fill="white"/>
            </svg>
          </span>
        </button>
        <button key="start" class="start" v-if="step > 3 && currentStageIndex === (isMobile ? 2 : 1)" @click="closeGuide">
          <svg width="342" height="69" viewBox="0 0 342 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.46027 56.3163L18.1488 8.03553C19.1459 4.96638 21.9969 2.89433 25.2219 2.89433L332.283 2.89429C337.331 2.89429 340.914 7.81738 339.357 12.6159L323.668 60.8966C322.671 63.9657 319.82 66.0378 316.595 66.0378L9.51777 66.0379C4.47002 66.0379 0.88675 61.1147 2.4447 56.3163H2.46027Z" fill="black" stroke="url(#paint0_linear_2_11)" stroke-width="4"/>
            <defs>
              <linearGradient id="paint0_linear_2_11" x1="254.122" y1="-81.7978" x2="193.577" y2="114.889" gradientUnits="userSpaceOnUse">
                <stop offset="0.506598" stop-color="#FFE600"/>
                <stop offset="1" stop-color="#6CC900"/>
              </linearGradient>
            </defs>
          </svg>
          <span class="t">Начать</span>
        </button>
      </transition-group>
      <transition-group name="fade" :class="['guide-desc', `-index${currentStageIndex}`, `${isMobile ? 'mobile' : 'desktop'}`]">
          <div
            :style="{
              '--el-x': rects[index].x + 'px',
              '--el-y': rects[index].y + 'px',
              '--el-width': rects[index].width + 'px',
              '--el-height': rects[index].height + 'px'
            }"
            v-for="(guide, index) in guides" :key="index + 1" class="step"
          >
            <div>
              <span class="number">{{ guide.number }}</span>
              <span class="text" v-html="guide.text" />
            </div>
            <span class="arrow" v-html="guide.svg" />
          </div>
      </transition-group>
    </div>
  </div>
  <div :class="['cont', {['blacked']: currentStageIndex === 2}]" @click="clickMobile" v-else>
    <img :src="require(`@/assets/images/guide/Slice${currentStageIndex + 1}.png`)" alt="">
    <div class="after"></div>
    <div class="close" @click="closeGuide"></div>
  </div>
</template>

<script>
const params = {
  width: 0,
  height: 0,
  top: 0,
  left: 0
}

export default {
  name: 'SectionGuide',
  data() {
    return {
      mobileStages: [{
        steps: 3,
        elements: [{
          el: document.getElementById('login'),
          ...params
        }, {
          el: document.getElementById('match-first'),
          ...params
        }],
        guide: [{
          number: 1,
          text: 'Создай аккаунт или залогинься',
          svg: '<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.29395 26.5992C0.595554 26.5992 0.0293956 27.1654 0.0293956 27.8638C0.0293956 28.5622 0.595554 29.1283 1.29395 29.1283V26.5992ZM10.0351 0.596085L2.73422 13.2416L17.336 13.2416L10.0351 0.596085ZM10.0351 27.8638V29.1283H11.2996L11.2996 27.8638L10.0351 27.8638ZM1.29395 29.1283H10.0351V26.5992H1.29395V29.1283ZM11.2996 27.8638L11.2997 11.977L8.77055 11.977L8.77052 27.8638L11.2996 27.8638Z" fill="#00C7B1"/></svg>'
        }, {
          number: 2,
          text: 'Каждый день оставляй прогнозы <br />на матчи IEM RIO Major',
          svg: '<svg width="19" height="45" viewBox="0 0 19 45" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.0293 3.28641C1.33091 3.28641 0.764747 2.72025 0.764747 2.02186C0.764747 1.32347 1.33091 0.757313 2.0293 0.757313V3.28641ZM10.7704 44.3994L3.46954 31.7539H18.0713L10.7704 44.3994ZM10.7704 2.02186V0.757313H12.035V2.02186H10.7704ZM2.0293 0.757313H10.7704V3.28641H2.0293V0.757313ZM12.035 2.02186V33.0184H9.50588V2.02186H12.035Z" fill="#00C7B1"/></svg>'
        }]
      }, {
        steps: 3,
        elements: [{
          el: document.getElementById('save'),
          ...params
        }, {
          el: document.getElementById('koef'),
          ...params
        }, {
          el: document.getElementById('burger'),
          ...params
        }],
        guide: [{
          number: 3,
          text: 'Сохраняй свой прогноз',
          svg: '<svg width="18" height="29" viewBox="0 0 18 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.62939 2.67091C0.931003 2.67091 0.364845 2.10476 0.364845 1.40636C0.364845 0.707973 0.931003 0.141815 1.62939 0.141815V2.67091ZM10.3706 28.6741L3.06967 16.0286L17.6714 16.0286L10.3706 28.6741ZM10.3705 1.40636V0.141815H11.6351L11.6351 1.40636L10.3705 1.40636ZM1.62939 0.141815H10.3705V2.67091H1.62939V0.141815ZM11.6351 1.40636L11.6351 17.2931L9.106 17.2931L9.10597 1.40637L11.6351 1.40636Z" fill="#00C7B1"/></svg>'
        }, {
          number: 4,
          text: 'Все твои ставки за день мы умножим на наш <br />повышающий коэффициент столько раз, <br />сколько верных прогнозов ты сделаешь',
          svg: '<svg width="15" height="41" viewBox="0 0 15 41" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.66797 0.549301L0.367087 13.1948H14.9689L7.66797 0.549301ZM6.40342 38.9742C6.40342 39.6726 6.96958 40.2388 7.66797 40.2388C8.36636 40.2388 8.93252 39.6726 8.93252 38.9742H6.40342ZM8.93252 38.9742V33.6806H6.40342V38.9742H8.93252ZM8.93252 33.6806V11.9302H6.40342V33.6806H8.93252Z" fill="#00C7B1"/></svg>'
        }, {
          text: 'Для продолжения кликай сюда',
          svg: '<svg width="33" height="276" viewBox="0 0 33 276" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.7329 0.355743L17.432 13.0012L32.0338 13.0012L24.7329 0.355743ZM1.77582 273.096C1.07743 273.096 0.511268 273.662 0.51127 274.36C0.51127 275.058 1.07743 275.625 1.77582 275.625L1.77582 273.096ZM24.7329 274.36L24.7329 275.625L25.9974 275.625L25.9974 274.36L24.7329 274.36ZM1.77582 275.625L24.7329 275.625L24.7329 273.095L1.77582 273.096L1.77582 275.625ZM25.9974 274.36L25.9975 11.7367L23.4684 11.7367L23.4683 274.36L25.9974 274.36Z" fill="#00C7B1"/></svg>'
        }]
      }, {
        steps: 4,
        elements: [{
          el: document.getElementById('forecast') || 'forecast',
          ...params
        }, {
          el: document.getElementById('login'),
          ...params
        }, {
          el: document.getElementById('case-second') || 'case-second',
          ...params
        }],
        guide: [{
          number: 5,
          text: 'Делай ставки на киберспорт',
          svg: '<svg width="19" height="29" viewBox="0 0 19 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.03809 2.67091C1.33969 2.67091 0.773536 2.10476 0.773536 1.40636C0.773536 0.707973 1.33969 0.141815 2.03809 0.141815V2.67091ZM10.7793 28.6741L3.47836 16.0286L18.0801 16.0286L10.7793 28.6741ZM10.7792 1.40636V0.141815H12.0438L12.0438 1.40636L10.7792 1.40636ZM2.03809 0.141815H10.7792V2.67091H2.03809V0.141815ZM12.0438 1.40636L12.0438 17.2931L9.51469 17.2931L9.51466 1.40637L12.0438 1.40636Z" fill="#00C7B1"/></svg>'
        },{
          number: 6,
          text: 'Здесь будет твой баланс, <br />который ты можешь <br />тратить на кейсы с фрибетами ',
          svg: '<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.94824 26.5992C1.24985 26.5992 0.683692 27.1654 0.683692 27.8638C0.683692 28.5622 1.24985 29.1283 1.94824 29.1283V26.5992ZM10.6894 0.596085L3.38851 13.2416L17.9903 13.2416L10.6894 0.596085ZM10.6894 27.8638V29.1283H11.9539L11.9539 27.8638L10.6894 27.8638ZM1.94824 29.1283H10.6894V26.5992H1.94824V29.1283ZM11.9539 27.8638L11.9539 11.977L9.42485 11.977L9.42482 27.8638L11.9539 27.8638Z" fill="#00C7B1"/></svg>'
        }, {
          number: 7,
          text: 'Открывай кейсы и забирай фрибеты!',
          svg: '<svg width="19" height="29" viewBox="0 0 19 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.09961 2.80006C1.40122 2.80006 0.83506 2.23391 0.83506 1.53551C0.83506 0.837124 1.40122 0.270966 2.09961 0.270966V2.80006ZM10.8408 28.8032L3.53988 16.1577L18.1416 16.1577L10.8408 28.8032ZM10.8407 1.53551V0.270966H12.1053L12.1053 1.53551L10.8407 1.53551ZM2.09961 0.270966H10.8407V2.80006H2.09961V0.270966ZM12.1053 1.53551L12.1053 17.4223L9.57622 17.4223L9.57619 1.53552L12.1053 1.53551Z" fill="#00C7B1"/></svg>'
        }]
      }],
      stages: [{
        steps: 5,
        elements: [
          {
            el: document.getElementById('login'),
            ...params
          },
          {
            el: document.getElementById('match-second') || document.getElementById('match-first'),
            ...params
          },
          {
            el: document.getElementById('save'),
            ...params
          },
          {
            el: document.getElementById('link'),
            ...params
          }
        ],
        guide: [{
          number: 1,
          text: 'Создай аккаунт или залогинься',
          svg: '<svg width="84" height="29" viewBox="0 0 84 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.2113 11.9803C1.83059 11.9803 0.711304 13.0996 0.711304 14.4803C0.711304 15.8611 1.83059 16.9803 3.2113 16.9803V11.9803ZM83.2603 14.4803L58.2603 0.0465899V28.9141L83.2603 14.4803ZM3.2113 16.9803H60.7603V11.9803H3.2113V16.9803Z" fill="#00C7B1"/></svg>'
        }, {
          number: 2,
          text: 'Каждый день оставляй прогнозы на матчи IEM RIO Major',
          svg: '<svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33.6122 2.85742L36.1122 2.85742C36.1122 2.19438 35.8488 1.5585 35.3799 1.08965C34.9111 0.620813 34.2752 0.357421 33.6122 0.357422L33.6122 2.85742ZM33.6122 42.2252L48.0459 17.2252L19.1784 17.2252L33.6122 42.2252ZM2.93421 0.357448C1.5535 0.357449 0.434208 1.47674 0.434212 2.85745C0.434212 4.23816 1.5535 5.35745 2.93421 5.35745L2.93421 0.357448ZM31.1122 2.85742L31.1122 19.7252L36.1122 19.7252L36.1122 2.85742L31.1122 2.85742ZM33.6122 0.357422L2.93421 0.357448L2.93421 5.35745L33.6122 5.35742L33.6122 0.357422Z" fill="#00C7B1"/></svg>'
        }, {
          number: 3,
          text: 'Сохраняй свой прогноз',
          svg: '<svg width="49" height="43" viewBox="0 0 49 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M34 2.64893L36.5 2.64893C36.5 1.98588 36.2366 1.35 35.7678 0.881158C35.2989 0.412317 34.663 0.148925 34 0.148926L34 2.64893ZM34 42.0168L48.4338 17.0167L19.5662 17.0168L34 42.0168ZM3.32203 0.148952C1.94131 0.148953 0.822025 1.26824 0.822029 2.64895C0.822029 4.02967 1.94132 5.14895 3.32203 5.14895L3.32203 0.148952ZM31.5 2.64893L31.5 19.5168L36.5 19.5168L36.5 2.64893L31.5 2.64893ZM34 0.148926L3.32203 0.148952L3.32203 5.14895L34 5.14893L34 0.148926Z" fill="#00C7B1"/></svg>'
        }, {
          number: 4,
          text: 'Делай ставки на киберспорт',
          svg: '<svg width="49" height="97" viewBox="0 0 49 97" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33.8596 93.9204L36.3596 93.9204C36.3596 94.5835 36.0962 95.2193 35.6274 95.6882C35.1585 96.157 34.5227 96.4204 33.8596 96.4204L33.8596 93.9204ZM33.8596 0.765213L48.2934 25.7652L19.4259 25.7652L33.8596 0.765213ZM3.18164 96.4204C1.80093 96.4204 0.681644 95.3011 0.681648 93.9204C0.681648 92.5397 1.80094 91.4204 3.18165 91.4204L3.18164 96.4204ZM31.3596 93.9204L31.3596 23.2652L36.3596 23.2652L36.3596 93.9204L31.3596 93.9204ZM33.8596 96.4204L3.18164 96.4204L3.18165 91.4204L33.8596 91.4204L33.8596 96.4204Z" fill="#00C7B1"/></svg>'
        }]
      }, {
        steps: 4,
        elements: [
          {
            el: document.getElementById('title'),
            ...params
          },
          {
            el: document.getElementById('balance'),
            ...params
          },
          {
            el: document.getElementById('case-third') || document.getElementById('case'),
            ...params
          }],
        guide: [{
          number: 5,
          text: 'Все твои ставки за день мы умножим на наш повышающий <br />коэффициент столько раз, сколько верных прогнозов ты сделаешь',
          svg: '<svg width="66" height="43" viewBox="0 0 66 43" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M50.7012 3.3091L53.2012 3.3091C53.2012 1.92838 52.0819 0.809097 50.7012 0.809097L50.7012 3.3091ZM50.7012 42.6769L65.135 17.6769L36.2675 17.6769L50.7012 42.6769ZM2.84867 0.809084C1.46796 0.809084 0.348667 1.92837 0.348667 3.30908C0.348667 4.6898 1.46795 5.80908 2.84867 5.80908L2.84867 0.809084ZM48.2012 3.3091L48.2012 20.1769L53.2012 20.1769L53.2012 3.3091L48.2012 3.3091ZM50.7012 0.809097L2.84867 0.809084L2.84867 5.80908L50.7012 5.8091L50.7012 0.809097Z" fill="#00C7B1"/></svg>'
        }, {
          number: 6,
          text: 'Твой баланс, который ты можешь тратить на кейсы с фрибетами',
          svg: '<svg width="69" height="112" viewBox="0 0 69 112" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.36853 106.358C1.98782 106.358 0.86853 107.477 0.86853 108.858C0.86853 110.239 1.98782 111.358 3.36853 111.358V106.358ZM54.254 108.858V111.358C55.6347 111.358 56.754 110.239 56.754 108.858H54.254ZM54.254 0.967773L39.8202 25.9678H68.6877L54.254 0.967773ZM51.754 54.9128L51.754 108.858H56.754L56.754 54.9128H51.754ZM54.254 106.358H3.36853V111.358H54.254V106.358ZM56.754 54.9128V23.4678H51.754V54.9128H56.754Z" fill="#00C7B1"/></svg>'
        }, {
          number: 7,
          text: 'Открывай кейсы и забирай фрибеты!',
          svg: '<svg width="58" height="65" viewBox="0 0 58 65" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.67603 0.230225C1.29531 0.230225 0.176025 1.34951 0.176025 2.73022C0.176025 4.11094 1.29531 5.23022 2.67603 5.23022V0.230225ZM42.7005 64.4728L57.1343 39.4728H28.2668L42.7005 64.4728ZM42.7005 2.73022H45.2005V0.230225H42.7005V2.73022ZM2.67603 5.23022H42.7005V0.230225H2.67603V5.23022ZM40.2005 2.73022V41.9728H45.2005V2.73022H40.2005Z" fill="#00C7B1"/></svg>'
        }]
      }],
      currentStageIndex: 0,
      step: -1,
      interval: null,
      init: false,
      window: {
        width: 0,
        height: 0
      }
    }
  },
  computed: {
    isMobile() {
      return this.window.width < 768
    },
    rects() {
      const els = this[this.isMobile ? 'mobileStages' : 'stages'][this.currentStageIndex].elements
      if (!this.init || !els || !els.length) {
        return []
      }
      return els.filter((el, index) => this.step > index)
    },
    guides() {
      const guides = this[this.isMobile ? 'mobileStages' : 'stages'][this.currentStageIndex].guide
      if (!this.init || !guides || !guides.length) {
        return []
      }
      return guides.filter((el, index) => this.step > index)
    }
  },
  methods: {
    stepUp() {
      if (this.step !== this[this.isMobile ? 'mobileStages' : 'stages'][this.currentStageIndex].steps) {
        this.step++
      }
    },
    resetInterval() {
      this.interval = setInterval(() => {
        this.stepUp()
      }, 1500)
    },
    tick() {
      this.window.height = document.body.clientHeight
      this.window.width = document.body.clientWidth
      if (!this.isMobile) {
        this[this.isMobile ? 'mobileStages' : 'stages'][this.currentStageIndex].elements.forEach((el, index) => {
          let elementNode

          if (typeof el.el === 'string') {
            elementNode = document.getElementById(el.el)
            if (!elementNode) {
              return
            }
          } else {
            elementNode = el.el
          }
          if (!el.el) {
            return
          }
          const rect = elementNode.getBoundingClientRect()
          el.y = Math.floor(rect.y - 3)
          el.x = Math.floor(rect.x - 5)
          el.width = Math.ceil(rect.width + 10)
          el.height = Math.ceil(rect.height + 6)
        })
      }
      this.raf = requestAnimationFrame(this.tick)
    },
    onClick() {
      this.stepUp()
      clearInterval(this.interval)
      this.resetInterval()
    },
    closeGuide() {
      this.$emit('close')
    },
    clickMobile() {
      if (this.currentStageIndex + 1 === 3) {
        this.$emit('close')
      } else {
        this.currentStageIndex++
      }
    }
  },
  mounted() {
    if (process.client) {
      this.tick()
      this.stepUp()
      this.resetInterval()
      this.init = true
    }
  },
  beforeDestroy() {
    clearInterval(this.interval)
    cancelAnimationFrame(this.raf)
  },
  watch: {
    currentStageIndex() {
      window.scrollTo(0, 0)
    }
  }
}
</script>

<style scoped lang="less">
  .container {
    z-index: 10000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    > svg {
      display: block;
      width: 100%;
      height: 100%;
      rect {
        transition: .3s fill-opacity;
      }
    }
  }

  .close {
    position: absolute;
    transition: .3s opacity;
    left: 0;
    top: 0;
    padding: 3em 4.2em;
    svg {
      width: 3.2em;
      height: 3.2em;
      display: block;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  .next {
    position: absolute;
    right: 11.5em;
    bottom: 13em;
    filter: drop-shadow(0 0.5em 1.3em rgba(229, 224, 0, 0.61));
    > svg {
      width: 33.7em;
      height: 6.4em;
    }
    .center {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;

      .t {
        font-weight: 700;
        font-size: 2em;
        line-height: 1.2;
        text-transform: uppercase;
        white-space: nowrap;
      }

      svg {
        margin-left: 1.6em;
        width: 1.2em;
        height: auto;
        display: block;
      }
    }
  }

  .start {
    position: absolute;
    left: 50%;
    bottom: 13em;
    filter: drop-shadow(0 0.5em 1.3em rgba(229, 224, 0, 0.61));
    transform: translateX(-50%);
    > svg {
      width: 33.7em;
      height: 6.4em;
    }
    .t {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
      font-size: 2em;
      line-height: 1.2;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .guide-desc.desktop {
    .step {
      display: flex;
      position: absolute;
      align-items: flex-start;

      > div {
        display: flex;
        align-items: baseline;
      }

      .number {
        font-weight: 800;
        font-size: 4em;
        color: #00C7B1;
        margin-right: 1.4rem;
      }

      .text {
        white-space: nowrap;
        font-family: 'Caveat', cursive;
        font-weight: 700;
        font-size: 2.8em;
        line-height: 1.2;
        margin-right: 2.6rem;
      }

      span {
        display: block;
        height: auto;
        :global(svg) {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &.-index0 {
      .step {
        top: 0;
        &:nth-child(1) {
          left: var(--el-x);
          top: 5em;
          transform: translateX(-100%);
          align-items: center;
          > div {
            transform: translateY(-1em);
          }
          > span {
            width: 8em;
          }
        }
        &:nth-child(2) {
          top: var(--el-y);
          left: var(--el-x);
          transform: translateY(-100%);
          > div {
            transform: translateY(-3em);
          }
          > span {
            width: 4em;
          }
        }
        &:nth-child(3) {
          top: var(--el-y);
          left: var(--el-x);
          transform: translateY(-100%);
          > div {
            transform: translateY(-3em);
          }
          > span {
            width: 3em;
          }
        }
        &:nth-child(4) {
          top: calc(var(--el-y) + var(--el-height));
          left: var(--el-x);
          transform: translateX(-30%);
          align-items: flex-end;
          > div {
            transform: translateY(1em);
          }
          > span {
            width: 3em;
          }
        }
      }
    }
    &.-index1 {
      .step {
        top: 0;
        &:nth-child(1) {
          left: var(--el-x);
          top: var(--el-y);
          transform: translateY(-100%);
          align-items: flex-end;
          > div {
            align-items: center;
            transform: translateY(-1em);
          }
          > span {
            width: 4.7em;
          }
        }
        &:nth-child(2) {
          top: calc(var(--el-y) + var(--el-height));
          align-items: flex-end;
          right: 16.5em;
          > div {
            transform: translateY(1em);
          }
          > span {
            width: 5em;
          }
        }
        &:nth-child(3) {
          top: var(--el-y);
          left: var(--el-x);
          transform: translate(-5em, -100%);
          > div {
            transform: translateY(-3em);
          }
          > span {
            width: 4.7em;
          }
        }
      }
    }
  }

  .next-layout {
    display: none;
    cursor: pointer;
  }

  @media screen and (max-width: 767px) {
    .next {
      top: 58.2em;
      left: 50%;
      bottom: auto;
      right: auto;
      transform: translateX(-50%);
      > svg {
        width: 22em;
        height: 4.2em;
      }
      .center {
        .t {
          font-size: 1.4em;
        }
        svg {
          width: 0.8em;
        }
      }
    }

    .start {
      top: 46.6em;
      left: 50%;
      bottom: auto;
      right: auto;
      transform: translateX(-50%);
      > svg {
        width: 22em;
        height: 4.2em;
      }
      .t {
        font-size: 1.4em;
      }
    }
    .next-layout{
      position: absolute;
      right: 0;
      top: 0;
      padding: 3.5em;
      display: block;
    }

    .close {
      padding: 3.4em;
      cursor: pointer;
    }
  }

  .guide-desc.mobile {
    .step {
      display: flex;
      position: absolute;
      align-items: flex-start;

      > div {
        display: flex;
        align-items: baseline;
      }

      .number {
        font-weight: 800;
        font-size: 2em;
        color: #00C7B1;
        margin-right: 1.2rem;
      }

      .text {
        white-space: nowrap;
        font-family: 'Caveat', cursive;
        font-weight: 700;
        font-size: 1.4em;
        line-height: 1.2;
        margin-right: 0.8rem;
      }

      span {
        display: block;
        height: auto;
        :global(svg) {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &.-index0 {
      .step {
        top: 0;
        &:nth-child(1) {
          left: 3em;
          top: calc(var(--el-y) + var(--el-height));
          > div {
            transform: translateY(-0.4em);
          }
          > span {
            width: 0.8em;
          }
        }
        &:nth-child(2) {
          top: var(--el-y);
          left: 3em;
          transform: translateY(-100%);
          > div {
            align-items: center;
            transform: translateY(-1em);
          }
          > span {
            width: 0.9em;
          }
        }
      }
    }
    &.-index1 {
      .step {
        top: 0;
        &:nth-child(1) {
          left: 3em;
          top: var(--el-y);
          transform: translateY(-100%);
          > div {
            transform: translateY(-1.5em);
          }
          > span {
            width: 0.9em;
          }
        }
        &:nth-child(2) {
          flex-direction: column-reverse;
          top: calc(var(--el-y) + var(--el-height));
          left: 1em;
          > div {
            align-items: center;
          }
          > span {
            width: 0.9em;
            transform: translateX(5em);
          }
        }
        &:nth-child(3) {
          top: calc(var(--el-y) + var(--el-height) + 0.5em);
          right: 2.5em;
          align-items: flex-end;
          > div {
            transform: translateY(1em);
            .text {
              font-size: 2em;
            }
          }
          > span {
            width: 2.4em;
          }
        }
      }
    }
    &.-index2 {
      .step {
        top: 0;

        &:nth-child(1) {
          left: 3em;
          top: var(--el-y);
          transform: translateY(-100%);

          > div {
            transform: translateY(-1.5em);
          }

          > span {
            width: 0.9em;
          }
        }

        &:nth-child(2) {
          left: 2.6em;
          top: calc(var(--el-y) + var(--el-height));
          //transform: translateY(-100%);

          > div {
            transform: translateY(0.5em) translateX(4em);
            align-items: center;
          }

          > span {
            width: 0.9em;
          }
        }

        &:nth-child(3) {
          left: 2.6em;
          top: var(--el-y);
          transform: translateY(-100%);

          > div {
            transform: translateY(-2em);
          }

          > span {
            width: 0.9em;
          }
        }
      }
    }
  }

  .cont {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: 0;
    z-index: 10000;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      display: block;
      flex-shrink: 0;
    }
    .after {
      flex: 1;
      background: rgba(0,0,0,0.9);
      width: 100%;
    }
    &.blacked {
      .after {
        background: linear-gradient(90deg, #1F1E1E 0%, #000000 100%) rgba(0,0,0,0.9);
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.9);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
</style>
