<template>
  <footer class="footer">
    <div class="partners">
      <span v-for="item in partners" :key="item.title">
        <img :src="require(`~/assets/images/footer/${item.title}.png`)" />
      </span>
    </div>
    <div class="btns">
      <a v-for="(item, index) in btns" :href="item" :key="item + '_' + index" target="_blank">
        <img :src="require(`~/assets/images/footer/btn-${index + 1}.png`)" />
      </a>
    </div>
    <div class="socials">
      <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.7577 30.0001C24.042 30.0001 30.7577 23.2843 30.7577 15.0001C30.7577 6.71579 24.042 6.10352e-05 15.7577 6.10352e-05C7.47341 6.10352e-05 0.75769 6.71579 0.75769 15.0001C0.75769 23.2843 7.47341 30.0001 15.7577 30.0001Z" fill="white"/>
        <path d="M15.7577 27.1429C22.464 27.1429 27.9006 21.7064 27.9006 15.0001C27.9006 8.29375 22.464 2.85721 15.7577 2.85721C9.0514 2.85721 3.61487 8.29375 3.61487 15.0001C3.61487 21.7064 9.0514 27.1429 15.7577 27.1429Z" fill="black"/>
        <path d="M11.1008 18.4761H9.48635V13.342L7.90057 13.8048V12.5833L10.9527 11.5289H11.1008V18.4761Z" fill="white"/>
        <path d="M17.9859 13.3849C17.9859 13.7221 17.9015 14.0195 17.7328 14.2772C17.5672 14.5349 17.3379 14.7416 17.045 14.8975C17.3761 15.0597 17.6388 15.2824 17.8331 15.5655C18.0273 15.8454 18.1244 16.1778 18.1244 16.5627C18.1244 17.183 17.9095 17.6729 17.4796 18.0323C17.0529 18.3918 16.4638 18.5715 15.7123 18.5715C14.9577 18.5715 14.3622 18.3918 13.926 18.0323C13.4897 17.6697 13.2716 17.1798 13.2716 16.5627C13.2716 16.1906 13.3671 15.8613 13.5582 15.575C13.7492 15.2888 14.0199 15.0629 14.3702 14.8975C14.074 14.7416 13.8416 14.5349 13.6728 14.2772C13.504 14.0195 13.4197 13.7221 13.4197 13.3849C13.4197 12.7806 13.625 12.3034 14.0358 11.9535C14.4466 11.6036 15.0007 11.4286 15.698 11.4286C16.4017 11.4286 16.959 11.6036 17.3698 11.9535C17.7805 12.3034 17.9859 12.7806 17.9859 13.3849ZM16.51 16.4339C16.51 16.1476 16.4352 15.9281 16.2855 15.7754C16.139 15.6196 15.9448 15.5416 15.7028 15.5416C15.4608 15.5416 15.2649 15.6196 15.1153 15.7754C14.9656 15.9281 14.8908 16.1476 14.8908 16.4339C14.8908 16.7106 14.9656 16.9301 15.1153 17.0924C15.2681 17.2514 15.4671 17.3309 15.7123 17.3309C15.9512 17.3309 16.1438 17.2514 16.2903 17.0924C16.4368 16.9333 16.51 16.7138 16.51 16.4339ZM15.698 12.6692C15.4815 12.6692 15.3159 12.7408 15.2013 12.8839C15.0898 13.0239 15.0341 13.2195 15.0341 13.4708C15.0341 13.7189 15.0914 13.9193 15.206 14.072C15.3207 14.2247 15.4894 14.3011 15.7123 14.3011C15.9321 14.3011 16.096 14.2247 16.2043 14.072C16.3158 13.9193 16.3715 13.7189 16.3715 13.4708C16.3715 13.2227 16.3142 13.0271 16.1995 12.8839C16.0881 12.7408 15.9209 12.6692 15.698 12.6692Z" fill="white"/>
        <path d="M21.9861 14.5349H23.6149V15.9138H21.9861V17.7794H20.4815V15.9138H18.848V14.5349H20.4815V12.7217H21.9861V14.5349Z" fill="white"/>
      </svg>
      <a href="https://t.me/bc_pari" target="_blank">
        <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.40102 8.6261C8.84247 5.81257 13.1368 3.94923 15.2839 3.03607C21.4125 0.463172 22.7008 0.0189301 23.529 0.000420045C23.8372 -0.00640516 24.1397 0.0842354 24.394 0.259561C24.5682 0.418476 24.6793 0.635457 24.7068 0.870393C24.7585 1.15734 24.7709 1.45004 24.7436 1.74036C24.4124 5.25727 22.9769 13.7904 22.2407 17.7145C21.9278 19.3804 21.3205 19.9357 20.7315 19.9913C19.4433 20.1023 18.4678 19.1398 17.2348 18.3254C15.2839 17.0482 14.1981 16.2522 12.3024 14.9936C10.1124 13.5498 11.5295 12.7538 12.781 11.4581C13.1122 11.125 18.7623 5.94215 18.8727 5.47939C18.8865 5.41044 18.8837 5.33917 18.8645 5.27155C18.8453 5.20392 18.8102 5.1419 18.7623 5.09068C18.694 5.04826 18.6167 5.02278 18.5367 5.01635C18.4567 5.00991 18.3763 5.0227 18.3022 5.05366C18.0998 5.09068 15.0079 7.16381 8.9897 11.2545C8.1063 11.8654 7.31493 12.1615 6.59716 12.143C5.80579 12.1245 4.29665 11.6988 3.15559 11.3286C1.77528 10.8843 0.671032 10.6437 0.763053 9.86627C0.818265 9.45905 1.37039 9.05183 2.40102 8.6261Z" fill="white"/>
        </svg>
      </a>
      <a href="https://vk.com/bc_pari" target="_blank">
        <svg width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.1759 19.9801C7.24958 19.9801 1.01737 12.4876 0.75769 6.10352e-05H6.23085C6.41062 9.15091 10.4456 12.9871 13.6416 13.8262V0.0200415H18.7951V7.91215C21.9512 7.57249 25.267 3.97609 26.3857 0.0200415H31.5392C31.1251 2.07725 30.2903 4.02661 29.0872 5.74576C27.8841 7.46491 26.3387 8.91672 24.548 10.0101C26.5444 11.0005 28.3082 12.4029 29.7233 14.1249C31.1384 15.8468 32.1726 17.8492 32.7577 20.0001H27.0648C26.5425 18.1283 25.4789 16.4527 24.0076 15.1836C22.5363 13.9146 20.7229 13.1087 18.7951 12.8672V20.0001L18.1759 19.9801Z" fill="white"/>
        </svg>
      </a>
      <a href="https://twitter.com" target="_blank" v-if="false">
        <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.173 2.26379C24.7815 2.44868 24.3773 2.6069 23.9633 2.73728C24.4526 2.19784 24.8223 1.56567 25.0492 0.880427C25.0784 0.803794 25.0821 0.72016 25.0599 0.641345C25.0377 0.56253 24.9906 0.492519 24.9253 0.441206C24.86 0.389892 24.7798 0.359872 24.6961 0.355387C24.6124 0.350903 24.5293 0.37218 24.4586 0.416213C23.5726 0.926384 22.6075 1.29323 21.601 1.50247C20.8484 0.780225 19.8938 0.290655 18.8569 0.0951723C17.8199 -0.100311 16.7468 0.00699686 15.7722 0.403635C14.7976 0.800274 13.9648 1.46858 13.3784 2.32473C12.7919 3.18089 12.4779 4.18676 12.4757 5.21619C12.4614 5.44189 12.4614 5.66824 12.4757 5.89394C10.6481 5.73415 8.87195 5.21883 7.25222 4.37843C5.63249 3.53804 4.20208 2.38964 3.04556 1.00112C3.00502 0.9518 2.95279 0.91282 2.89336 0.887541C2.83393 0.862261 2.76909 0.85144 2.70442 0.856007C2.63975 0.860575 2.57719 0.880395 2.52212 0.913761C2.46705 0.947128 2.42113 0.993039 2.38831 1.04754C1.84568 1.99549 1.61583 3.08335 1.73002 4.16313C1.84421 5.24292 2.2969 6.26221 3.02651 7.08233C2.7794 6.99759 2.54035 6.89197 2.31211 6.76666C2.2505 6.72726 2.17892 6.70521 2.10527 6.70294C2.03161 6.70066 1.95875 6.71827 1.89471 6.7538C1.83067 6.78933 1.77794 6.84141 1.74234 6.9043C1.70674 6.96718 1.68965 7.03843 1.69296 7.11018C1.69296 7.11018 1.69296 7.1566 1.69296 7.18446C1.69328 8.09523 1.9356 8.99039 2.39633 9.78276C2.85705 10.5751 3.52047 11.2377 4.32196 11.7059L3.91237 11.6502C3.84314 11.6365 3.77143 11.6409 3.70453 11.663C3.63762 11.6851 3.57791 11.7241 3.53146 11.776C3.48502 11.8278 3.45349 11.8908 3.44009 11.9584C3.42668 12.026 3.43188 12.0958 3.45515 12.1608C3.74234 13.0313 4.25837 13.8133 4.9519 14.429C5.64543 15.0447 6.49228 15.4726 7.40819 15.6703C5.88858 16.6041 4.12756 17.0968 2.33116 17.0908C1.95233 17.0909 1.57383 17.0692 1.19763 17.0258C1.10832 17.0193 1.0193 17.0416 0.944192 17.0891C0.869085 17.1367 0.812035 17.2069 0.781777 17.289C0.751518 17.3712 0.74972 17.4608 0.776658 17.544C0.803595 17.6273 0.857783 17.6996 0.930924 17.75C3.26445 19.2182 5.98332 19.9984 8.7608 19.9968C10.7973 20.0405 12.8188 19.6474 14.6821 18.8452C16.5455 18.043 18.2051 16.8513 19.5435 15.3546C21.9237 12.6989 23.2485 9.29951 23.2775 5.77325C23.2775 5.63398 23.2775 5.48543 23.2775 5.33688C24.2153 4.6447 25.0267 3.80354 25.6779 2.8487C25.7297 2.7801 25.7577 2.69714 25.7577 2.61195C25.7577 2.52675 25.7297 2.44379 25.6779 2.3752C25.6209 2.30134 25.5389 2.24959 25.4464 2.22919C25.354 2.20878 25.2571 2.22104 25.173 2.26379Z" fill="white"/>
        </svg>
      </a>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'SectionFooter',
  data() {
    return {
      btns: [
        'https://app.appsflyer.com/ru.paribet-Android?pid=landings&c=apk&af_r=https://origin.pb06e2-resources.com/webStaticPB/download/mobile/android/pari-latest.apk&af_click_lookback=7d',
        'https://l.pari.ru/mEiY/landbutton',
        'https://l.pari.ru/mEiY/landbutton',
        'https://l.pari.ru/mEiY/landbutton',
        'https://l.pari.ru/mEiY/landbutton'
      ],
      partners: [
        { title: 'visa', href: '' },
        { title: 'mastercard', href: '' },
        { title: 'mir', href: '' },
        { title: 'qiwi', href: '' },
        { title: 'umoney', href: '' }
      ]
    }
  }
}
</script>

<style lang="less" scoped>
.footer {
  padding: 0 6em;
  background-color: #000;
  display: flex;
  align-items: center;
  height: 8em;
  justify-content: space-between;
}

.partners {
  display: flex;
  align-items: center;

  span {
    display: block;
    //transition: opacity .3s;
    //
    //&:hover {
    //  opacity: 0.7;
    //}

    img {
      height: 2.6em;
      display: block;
      width: auto;
    }

    &:not(:last-child) {
      margin-right: 3em;
    }
  }
}

.btns {
  display: flex;
  align-items: center;
  a {
    display: block;
    transition: opacity .3s;

    &:hover {
      opacity: 0.7;
    }

    img {
      height: 4.2em;
      display: block;
      width: auto;
    }

    &:not(:last-child) {
      margin-right: 3em;
    }
  }
}

.socials {
  display: flex;
  align-items: center;

  > svg {
    height: 3em;
    width: auto;
    display: block;
  }

  > a {
    margin-left: 4em;
    transition: opacity .3s;

    &:hover {
      opacity: 0.7;
    }

    svg {
      height: 2em;
      width: auto;
      display: block;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 3.2em var(--layout-offset);

    .partners {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 2em;
      span {
        img {
          height: 1.2em;
        }

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }

    .btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
      a {
        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
    .socials {
      width: 100%;
      margin-top: 2em;
      > svg {
        margin-right: auto;
        height: 1.7em;
      }
      a {
        svg {
          height: 1.6em;
        }
      }
    }
  }
}
</style>
