<template>
  <header class="header">
    <section-header-logo />
    <div class="logos">
      <img src="~/assets/images/header/intel.png" alt="intel extreme masters esl" />
      <img src="~/assets/images/header/csgo.svg" alt="csgo" />
    </div>
    <div class="control">
      <button class="rules" @click="$modal.show(() => import(/* webpackChunkName: 'ModalRules' */ '../../modals/rules.vue'), {},{ name: 'ModalRules' })">
        <span class="t">Правила</span>
      </button>
      <component id="login" :is="identity ? 'span' : 'a'" target="_blank" :href="!identity ? registrationHref : ''" class="auth"  @click="!identity ? dataLayerPush() : null" :disabled="identity">
        <svg width="346" height="72" viewBox="0 0 346 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.4932 0.5H336.844C342.847 0.5 346.993 6.50928 344.862 12.1218L324.525 65.6757C323.26 69.0059 320.069 71.2077 316.507 71.2077H9.1563C3.15269 71.2077 -0.993283 65.1984 1.13806 59.5859L21.475 6.03201C22.7396 2.70184 25.931 0.5 29.4932 0.5Z" stroke="#00C7B1"/>
        </svg>
        <svg width="98" height="29" viewBox="0 0 98 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.77918 2.58018L8.77931 2.57977C9.08188 1.64457 9.96541 1.00517 10.9664 1.00517H94.1679C95.7164 1.00517 96.8231 2.52911 96.3548 3.99132C96.3547 3.99163 96.3546 3.99195 96.3545 3.99227L89.2329 25.9503L89.2328 25.9508C88.9302 26.886 88.0467 27.5254 87.0457 27.5254H3.84426C2.29566 27.5254 1.18896 26.0013 1.65737 24.5391C1.65746 24.5388 1.65755 24.5385 1.65764 24.5383L8.77918 2.58018Z" stroke="#00C7B1" stroke-width="1.20028"/>
        </svg>
        <span class="center">
          <span class="mark" :style="{ backgroundColor: identity ? 'green' : 'red' }" />
          <span class="t">{{ identity ? 'Вы в системе' : 'Войти' }}</span>
        </span>
      </component>
      <span class="balance" v-if="identity">
        <span class="mark"></span>
        <span class="t">{{ balance }}₽</span>
      </span>
      <button id="burger" :class="['burger', { ['opened']: opened }]" @click="onBurger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </header>
</template>

<script>
import SectionHeaderLogo from '~/components/section/header/logo'
import { mapState } from 'vuex'

export default {
  name: 'SectionHeader',
  components: {
    SectionHeaderLogo
  },
  data() {
    return {
      opened: false
    }
  },
  computed: {
    ...mapState('app', ['identity']),
    registrationHref() {
      return this.$isMobile ? 'https://www.pari.ru/mobile/registration/start/' : 'https://www.pari.ru/account/registration'
    },
    balance() {
      return new Intl.NumberFormat().format(this.identity?.balance || 0)
    }
  },
  methods: {
    onBurger() {
      if (document.querySelectorAll('[data-modal]').length) {
        this.$modal.hideAll()
        this.opened = false
      } else {
        this.$modal.show(() => import(/* webpackChunkName: 'Cases' */ '../../section/content/cases/index'), {}, {
          name: 'Cases',
          height: 'auto'
        })
        this.opened = true
      }
    },
    dataLayerPush() {
      this.$gtm.push({
        'event':'landing',
        'eventCategory':'registration',
        'eventAction':'registration_link_button_click',
        'eventLabel':'{{Page URL}}'
      })
    }
  }
}
</script>

<style lang="less" scoped>
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.header {
  height: 13em;
  display: flex;
  padding: 0 var(--layout-offset);
  align-items: center;
}

.logos {
  margin-left: 12em;
  display: flex;

  img {
    &:first-child {
      width: 16em;
      height: auto;
      display: block;
      margin-right: 7em;
    }

    &:last-child {
      height: 4.5em;
      width: auto;
      display: block;
    }
  }
}

.control {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.rules {
  margin-right: 3.3em;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }

  .t {
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.25;
  }
}

.auth {
  position: relative;
  transition: opacity .3s;

  &:not([disabled]):hover {
    opacity: 0.7;
  }

   svg {
     width: 35.4em;
     height: auto;
     display: block;
     &:not(:first-child) {
       display: none;
     }
   }

  .center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

  .mark {
    width: 0.9em;
    height: 0.9em;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    margin-right: 1.6em;
    animation: pulse 1s linear infinite;

    position: absolute;
    right: calc(100% + 1.6em);
    top: 50%;
    translate: 0 -50%;
  }

  .t {
    font-weight: 500;
    font-size: 2em;
    line-height: 1.2;
  }
}

.burger {
  display: none;
}

.balance {
  display: none;
}

@media screen and (max-width: 767px) {
  .header {
    height: 6.9em;
  }


  .logos {
    display: none;
  }

  .auth {
    &[disabled] {
      display: none;
    }

    svg {
      width: 9.6em;
      &:first-child {
        display: none;
      }

      &:not(:first-child) {
        display: block;
      }
    }

    .t {
      font-size: 1.2em;
    }
    .mark {
      width: 0.4em;
      height: 0.4em;
      right: calc(100% + 0.5em);
      margin-right: 0.5em;
    }
  }

  .burger {
    display: flex;
    height: 1.9em;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.6em;

    &.opened {
      span {
        &:nth-child(1) {
          transform: translateY(0.8em) rotate(135deg);
        }
        &:nth-child(2) {
          transform: translateX(-100%);
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-0.8em) rotate(225deg);
        }
      }
    }

    span {
      width: 2.8em;
      background: #FFFFFF;
      height: 0.3em;
      border-radius: 0.15em;
      transition: .3s ease-in-out;
    }
  }

  .balance {
    display: flex;
    align-items: center;
    margin-right: 0.4em;

    .mark {
      width: 0.414em;
      height: 0.414em;
      display: block;
      background-color: #00FF00;
      border-radius: 50%;
      margin-right: 1em;
    }
    .t {
      font-weight: 700;
      font-size: 2em;
      line-height: 1.2;
    }
  }

  .balance, .auth, .burger {
    position: relative;
    z-index: 1000;
  }

  .rules {
    display: none;
  }
}
</style>
