<template>
  <a href="https://www.pari.ru/" target="_blank" class="main-logo" @click="dataLayerPush">
    <svg width="262" height="72" viewBox="0 0 262 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.358266 62.2065L18.857 5.16877C19.8545 2.08564 22.7562 0 26.0207 0H254.353C259.431 0 263.059 4.98741 261.517 9.79345L243.018 66.8312C242.021 69.9144 239.119 72 235.854 72H7.52199C2.44391 72 -1.1833 67.0126 0.358266 62.2065Z" fill="black"/>
      <path d="M241.206 9.3396C238.214 9.3396 235.493 11.2439 234.587 14.1456L219.171 61.662H233.77L247.826 18.4076C249.277 13.8736 245.922 9.3396 241.206 9.3396Z" fill="white"/>
      <path d="M140.278 10.3372H94.575L90.4037 23.1231H122.414L81.245 50.9618C78.0712 53.0475 77.4365 57.4908 79.8848 60.3926C81.9705 62.9316 85.6884 63.385 88.4088 61.5714L129.94 33.5513L120.782 61.5714H135.381L148.439 21.4908C150.162 16.05 146.081 10.3372 140.278 10.3372Z" fill="#00C7B1"/>
      <path d="M28.108 10.3372L11.4229 61.5714H26.0223L38.5362 23.1231H68.37L48.0576 36.9064C45.1558 38.9014 44.1584 42.8913 46.0626 45.8838C48.0576 48.8762 52.0475 49.6923 55.04 47.6974L80.3397 30.6495C89.4077 24.5739 85.0551 10.4278 74.1735 10.4278L28.108 10.3372Z" fill="white"/>
      <path d="M211.643 10.3372H165.669L148.983 61.5714H163.583L176.097 23.1231H205.93L179.543 40.987L195.865 60.4833C197.951 63.0223 201.669 63.4757 204.389 61.6621C207.563 59.5765 208.197 55.1331 205.749 52.2314L198.585 43.7074L217.991 30.6495C226.878 24.4833 222.525 10.3372 211.643 10.3372Z" fill="white"/>
    </svg>
  </a>
</template>

<script>
export default {
  name: 'SectionHeaderLogo',

  methods: {
    dataLayerPush() {
      this.$gtm.push({
        'event':'landing',
        'eventCategory':'logo',
        'eventAction':'main_logo_click',
        'eventLabel':'{{Page URL}}'
      })
    }
  }
}
</script>

<style lang="less" scoped>
.main-logo {
  display: block;
  svg {
    height: 7.2em;
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .main-logo {
    position: relative;
    z-index: 1000;
    svg {
      height: 2.7em;
    }
  }
}
</style>
