<template>
  <div class="wrapper">
    <div :class="['bg', {['guide']: inited && !closed}]">
      <template v-if="closed || !isMobile">
        <section-header />
        <section-content class="content" />
      </template>
    </div>
    <transition name="fade">
      <section-guide v-if="inited && !closed" @close="onClose" />
    </transition>
    <client-only>
      <section-footer v-if="showFooter && isMounted" />
    </client-only>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import SectionHeader from '~/components/section/header'
import SectionFooter from '~/components/section/footer'
import SectionContent from '~/components/section/content'
import SectionGuide from '@/components/section/guide'

export default {
  name: 'IndexPage',
  components: {
    SectionGuide,
    SectionContent,
    SectionFooter,
    SectionHeader
  },
  data() {
    return {
      inited: false,
      closed: false,
      windowWidth: 0,
      isMounted: false
    }
  },
  computed: {
    showFooter() {
      return !Object.keys(this.$route.query).includes('webview')
    },
    isMobile() {
      return this.windowWidth < 768
    }
  },
  async mounted() {
    if (process.client) {
      await this.init()
      this.setWidth()
      window.addEventListener('resize', this.setWidth)
      this.isMounted = true
    }
  },
  head() {
    return {
      title: 'PARI IEM RIO'
    }
  },
  methods: {
    setWidth() {
      this.windowWidth = document.body.clientWidth
    },
    ...mapActions('app', ['getIdentity', 'getSettings', 'getDay', 'getBlocks', 'getCases']),
    async init() {
      await this.getIdentity()
      await Promise.all([
        this.getSettings(),
        this.getDay(),
        this.getBlocks(),
        this.getCases()
      ])
      this.$nextTick(() => {
        if (localStorage.getItem('guide')) {
          this.closed = true
        }
        this.inited = true
      })
    },
    onClose() {
      this.closed = true
      localStorage.setItem('guide', 'true')
      this.$modal.hideAll()
    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.setWidth)
  }
}
</script>

<style lang="less" scoped>
.wrapper {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.bg {
  background-image: url(~/assets/images/bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
}

@media screen and (max-width: 767px) {
  .bg {
    background-image: url(~/assets/images/bg_mob.png);
    min-height: 100vh;
    &.guide {
      //position: absolute;
      //z-index: -1;
      //left: 0;
      //top: 0;
      //width: 100%;
    }
  }
}
</style>
