<template>
  <div class="modal">
    <button class="close" @click="$modal.hide('ModalRules')">
      <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M31.4633 5.39877L25.9961 0L15.7637 10.0982L5.53753 0L0.0703125 5.39877L10.2965 15.4969L0.0703125 25.6012L5.53753 31L15.7637 20.9018L25.9961 31L31.4633 25.6012L21.2371 15.4969L31.4633 5.39877Z" fill="#727272"/>
      </svg>
    </button>

    <span class="title">
      <span class="t">Условия проведения акции «Кейсы CS:GO»</span>
    </span>

    <div class="content">

      <h2>1.  ОБЩИЕ ПОЛОЖЕНИЯ</h2>
      <p>1.1. Организатор Акции – ООО «БК «ПАРИ» (далее – «Организатор»).</p>
      <p>1.2. Адрес места нахождения Организатора: 109316, Москва г, Волгоградский пр-кт, дом № 43, корпус 3, этаж 1, помещение II, комната 80</p>
      <p>1.3. Интернет-сайт Организатора Акции: https://pari.ru.</p>
      <p>1.4. Адрес страницы Акции на интернет-сайте Организатора – https://pari.ru/promo/riomajor.</p>
      <p>1.5. Акция направлена на популяризацию спорта в Российской Федерации.</p>
      <p>1.6. «Фрибет» – сумма, доступная для заключения пари. В случае выигрыша пари, размещенного посредством Фрибета, Участник Акции получает только сумму выигрыша (без суммы Фрибета).</p>
      <p>«Фрибет» - не является интерактивной ставкой, средством платежа, каким-либо видом валюты, электронных денежных средств и не может расцениваться в качестве таковых.</p>
      <p>1.7 «Кейс» – ящик подарков, который содержит перечень Фрибетов с разным номиналом бонусных рублей. После открытия 1 (одного) кейса можно получить только один номинал Фрибета.</p>
      <p>1.8 Оборот за день - сумма, заключённых Участником акции пари на сайте www.pari.ru в разделе «киберспорт», заключённых и рассчитанных c 05:40 минут по московскому времени того дня, в который запланирован старт первого «Матча дня» на странице Акции по данным www.hltv.org и до 05:40 минут следующего дня.</p>
      <p>1.9. «Матчи дня» – киберспортивный матчи, которые отражаются на странице акции с 31 октября 2022 года по 13 ноября 2022 года  в рамках киберспортивного турнира по дисциплине CS:GO «IEM RIO Major 2022». В течение дня может быть от одного до трех матчей дня.</p>
      <p>1.10. «Повышающий коэффициент» - коэффициент на который умножается оборот заключенных Участником Акции пари в разделе «киберспорт» заключенных и рассчитанных в период проведения Акции.</p>
      <p>1.11. “Баланс” - счет Участника акции в баллах, который используется для внутриакционного обмена на кейсы.</p>



      <h2>2. СРОКИ ПРОВЕДЕНИЯ АКЦИИ</h2>
      <p>2.1. Сроки проведения Акции - с 31 октября 2022 года по 13 ноября 2022 года (GMT+3) включительно.</p>
      <p>2.2. Изменение сроков проведения Акции возможно по усмотрению Организатора с информированием о таких изменениях на интернет-сайте Организатора https://pari.ru/promo/riomajor.</p>
      <p>2.3. Сроки, указанные в настоящих Условиях:</p>
      <p>2.3.1. и определенные календарными датами, истекают в 23:59 минут по московскому времени последнего дня каждого из сроков.</p>
      <p>2.3.2. и определенные количеством календарных дней, рассчитываются как: 1 (один) календарный день равен 24 (двадцати четырем) астрономическим часам.</p>

      <h2>3. УЧАСТНИКИ АКЦИИ</h2>
      <p>3.1. Участником Акции может являться физическое лицо, достигшее возраста 18 (восемнадцати) лет и являющееся гражданином РФ, не лишенное в установленном законодательством порядке дееспособности, не ограниченное в дееспособности, не отбывающее наказание в исправительных учреждениях.</p>
      <p>3.2. Для участия в Акции всем потенциальным участникам необходимо зайти на страницу Акции, расположенную на интернет-сайте Организатора – https://www.pari.ru/, либо в официальные приложения Организатора для мобильных устройств для операционных систем iOS и Android, пройти процедуру регистрации и идентификации на официальном сайте Организатора.</p>
      <p>3.3. Участники, которые не предоставили документы, необходимые для прохождения процедуры регистрации и идентификации, к участию в Акции не допускаются.</p>
      <p>3.4. К участию в Акции не допускаются сотрудники Организатора, представители и члены семей сотрудников и представителей Организатора, сотрудники организаций и индивидуальных предпринимателей и сотрудники иных юридических лиц, участвующих в подготовке и проведении Акции.</p>
      <p>3.5. Предоставляя информацию о себе в соответствии с формой регистрации, участник подтверждает достоверность и актуальность предоставляемой информации, а также выражает свое согласие на обработку Организатором его персональных данных и соглашается со всеми Условиями проведения Акции.</p>

      <h2>4. ПОДАРОЧНЫЙ ФОНД</h2>
      <p>4.1.  	Общий подарочный фонд состоит из:<br />
        Фрибет на игровой счет, на сайте Организатора Акции, номиналом 200, 250, 300, 500, 600, 750, 1000, 1500, 2000, 5000  бонусных рублей. Общая сумма Фрибет(ов) составляет 5 000 000 (пять миллионов) бонусных рублей.</p>
      <p>4.2.          Подарочный фонд может быть увеличен Организатором Акции в зависимости от количества участников Акции.</p>

      <h2>5.  ПОРЯДОК ПРОВЕДЕНИЯ АКЦИИ</h2>

      <p>5.1. В период проведения Акции потенциальному Участнику необходимо выполнить все условия настоящей Акции, а также пройти авторизацию на официальной странице настоящей Акции https://pari.ru/promo/riomajor.</p>
      <p>5.2.Для участия в Акции необходимо выполнить все условия настоящей Акции, заключать пари на официальные спортивные мероприятия на официальном сайте Организатора Акции, в разделе «киберспорт», а также на официальной странице настоящей Акции https://pari.ru/promo/riomajor  составить и сохранить свой прогноз относительно выбора команд победителей в Матчах дня проводимых в рамках киберспортивного турнира по дисциплине CS:GO «IEM RIO Major 2022».</p>
      <p>5.3. В Акции учитываются прогнозы сохраненные в период проведения Акции и составленные до начала соответствующего Матча дня.<br />
        После окончания таймера на странице акции, прогнозы на Матчи дня не принимаются.</p>
      <p>5.4. Прогноз считается победным, если результат матча подтвержден данными сайта https://www.hltv.org/</p>
      <p>5.5. Баланс Участника акции определяется ежедневно по следующей формуле:<br /><br />

        B = Ob x K<sup>n-1</sup>, все прогнозы Участника акции верные, либо если верных прогнозов больше 2, где<br /><br />

        Ob - оборот, объем заключенных и рассчитанных пари в разделе «киберспорт» за день<br />
        B – баланс игрока,<br />
        K – повышающий коэффициент,<br />
        n – кол-во победных прогнозов, сделанных Участником акции за один день на сайте акции,<br /><br />

        но если условия выше не выполняются, тогда формула по который рассчитывается баланс зависит от количества верных прогнозов Участника акции<br /><br />

        0 = Ob * 0.5<br />
        1 = Ob<br />
        2 = Ob * K</p>
      <p>5.6. Правилами настоящей Акции, для Участников предусмотрены размеры повышающего коэффициента от 1.3 до 2 в зависимости от этапа турнира «IEM RIO Major 2022» и, соответственно, Матчей дня, представленных на странице Акции https://pari.ru/promo/riomajor.
        В период проведения Акции Участник Акции имеет возможность обменивать свои полученные баллы на кейсы с Фрибетами.<br />
        В случае, если в момент окончания акции 14 ноября 2022 года в 23 часа 59 минут по московскому времени у Участника Акции будут иметься не обменянные на Фрибет(-ы) баллы, система осуществит автоматическое списание оставшихся баллов. По окончании акции не обменянные баллы сгорают.</p>

      <p>5.7. Правилами настоящей Акции предусмотрены 3 категории кейсов:</p>
      <p>Категория 1: Challenger case*, имеющий стоимость 3000 (три тысячи) баллов и номиналы Фрибетов внутри кейса: 500 (пятьсот), 300 (триста), 250 (двести пятьдесят) и 200 (двести).</p>
      <p>Категория 2: Legend case**, имеющий стоимость 8500 (восемь тысяч пятьсот) баллов и номиналы Фрибетов внутри кейса: 1500 (одна тысяча пятьсот), 1000 (одна тысяча), 750 (семьсот пятьдесят)и 600 (шестьсот).</p>
      <p>Категория 3: Champion case***, имеющий стоимость 15000 (пятнадцать тысяч) баллов и номиналы Фрибетов внутри кейса: 5000 (пять тысяч), 2000 (две тысячи), 1500 (одна тысяча пятьсот) и 1000 (одна тысяча).</p>
      <p>5.8. Участник настоящей Акции может получить неограниченное количество Фрибетов.</p>
      <p>5.9. Участники акции получат Фрибет в течение 72 часов с момента открытия Кейса.</p>
      <p>5.10. Срок действия Фрибета – 7 (семь) дней с момента его получения.</p>
      <p>5.11. В Акции не принимают участия:</p>
      <p>5.11.1. пари, рассчитанные по услуге «Продажа» (досрочная выплата);</p>
      <p>5.11.2. пари типа «Система»;</p>
      <p>5.11.3. пари, заключенные в разделе «Быстрые игры»;</p>
      <p>5.11.4. пари, заключенные посредством размещения Фрибета;</p>
      <p>5.11.5. пари, заключенные посредством размещения Беспроигрышного пари.</p>
      <p>5.12. В течение 72 часов после расчета пари, заключенного посредством размещения Фрибета, на игровой счет Участника Акции будет начислена выплата по Фрибету.</p>
      <p>5.13. В случае, если сумма выплаты меньше суммы пари или пари рассчитано с коэффициентом 1.00, выплата по Фрибету не начисляется, возврат суммы Фрибета на игровой счет не осуществляется.</p>
      <p>В случае выигранного пари, заключенного, посредством Фрибета, Участник Акции имеет право совершить вывод денежных средств, выполнив все условия настоящей Акции.</p>
      <p>5.14. В случае, если Участник Акции после получения Фрибета не использовал его в течение его срока действия, Фрибет автоматически списывается с игрового счёта Участника.</p>
      <p>5.15. Сумма Фрибета размещается посредством одного пари.</p>
      <p>5.16. Организатор оставляет за собой право аннулировать Фрибет и отказать Участнику Акции в его предоставлении без объяснения причин в случае, если в отношении Участника Акции возникнут подозрения в нарушении «принципа честной игры» или применении стратегий, которые, по мнению Организатора, направлены на получение несправедливого преимущества Участника Акции перед Организатором либо другими Участниками Акции. В спорных ситуациях решение уполномоченных представителей Организатора является окончательным. Участник Акции вправе оспорить такое решение в соответствии с Правилами азартных игр Организатора.</p>
      <p>5.17. В настоящей Акции можно принять участие только один раз.</p>

      <h2>6. ПРАВА И ОБЯЗАННОСТИ ОРГАНИЗАТОРА И УЧАСТНИКОВ АКЦИИ</h2>
      <p>6.1. Организатор обязан обеспечить Условия проведения Акции.</p>
      <p>6.2. Организатор имеет право изменять и дополнять настоящие Условия Акции по собственному усмотрению с публикацией этих изменений на интернет-странице https://pari.ru/promo/riomajor.</p>
      <p>6.3. Участник имеет право на получение информации об Акции в объеме и порядке, указанном в настоящих Условиях.</p>
      <p>6.4. Участник обязан до участия в Акции внимательно ознакомиться с текстом настоящих Условий.</p>
      <p>6.5. Участник обязан соблюдать Условия настоящей Акции.</p>

      <h2>7. ПРОЧИЕ ПОЛОЖЕНИЯ</h2>
      <p>7.1. Акция не является лотереей. Подарочный фонд Акции формируется Организатором Акции, а не ее Участниками.</p>
      <p>7.2. Организатор имеет право не допускать к участию в Акции/ аннулировать предложение при обнаружении признаков мошенничества или злоупотребления при участии в Акции.</p>
      <p>7.3. Акция также может быть прекращена / отменена по инициативе Организатора без объяснения причин.</p>
      <p>7.4. Организатор имеет право изменять и дополнять настоящие Условия Акции по собственному усмотрению с публикацией этих изменений на интернет-странице.</p>
      <p>7.5. Решения Организатора по всем вопросам, связанным с проведением Акции, а также результаты проведения Акции считаются окончательными и распространяются на всех участников Акции.</p>

      <p>Условные обозначения п.5.7. условий Акции<br />
        * Challenger case - Сундук «Претендент»<br />
        ** Legend case – Сундук «Легенда»<br />
        *** Champion case – Сундук «Чемпион»</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalRules'
}
</script>

<style scoped lang="less">
.modal {
  background: rgba(30, 30, 30, 0.95);
  border: 0.3em solid #FFE600;
  border-radius: 10px;
  margin: 0 auto;
  padding: 8.8em 0 6.8em;
  width: 117em;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3em 6em;

  &:hover svg {
    opacity: 0.7;
  }

  svg {
    display: block;
    width: 3em;
    height: auto;
    transition: .3s opacity;
  }
}

.content {
  padding: 0 2.4em;
  h2 {
    font-size: 2.4em;
    margin-bottom: 1em;
    &:not(:first-child) {
      margin-top: 1em;
    }
  }
  p {
    font-size: 1.4em;
    &:not(:last-child) {
      margin-bottom: 0.4em;
    }
  }
}

.btn {
  width: 100%;
  position: relative;
  transition: opacity .3s;

  &:hover {
    opacity: 0.7;
  }

  svg {
    width: 100%;
    filter: drop-shadow(0 5px 13px rgba(180, 0, 145, 0.67));
    height: 6.4em;
  }

  .t {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 2.8em;
    line-height: 1.2;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.title {
  text-align: center;
  margin-bottom: 4em;
  display: block;

  .t {
    font-weight: 800;
    font-size: 3.6em;
    line-height: 1.059;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    background: linear-gradient(90deg, #1F1E1E 0%, #000000 100%);
    height: 100vh;
    padding: calc(7.4em + 5.6em) var(--layout-offset) 7em;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    border: none;
    border-radius: 0;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .close {
    //display: none;
    left: 0;
    top: 5.6em;
    right: auto;
    padding: 1.6em;
    svg {
      width: 2.4em;
      height: 2.4em;
    }
  }

  .title {
    .t {
      font-size: 2.4em;
    }
  }

  .content {
    padding: 0;
    h2 {
      font-size: 1.6em;
    }
    p {
      font-size: 1.2em;
    }
  }
}
</style>
